# How many our records match Johns?

We have 10 he didn't and he had 1 that we didn't

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode,iplot
init_notebook_mode(connected = True)

%matplotlib inline
sns.set_style('whitegrid')
plt.rc('axes', titlesize = 14, titleweight = 'bold', labelweight = 'bold')

In [2]:
import os
os.chdir('..')
from my_functions.combokey_converter import convert

In [3]:
crdc_1516 = pd.read_csv('../filtered_data/04_filter_final.csv', dtype = {'LEAID':np.object})
john_data = pd.read_csv('../filtered_data/07_john_fink_crdc-school-data-raw-restrictedSample.csv', dtype = {'combokey':np.object})

In [5]:
john_duplicated = john_data[john_data.duplicated(['combokey', 'sch_name','lea_state', 'leaid'], keep=False)]
john_duplicated.to_csv('john_duplicated.csv')

In [6]:
john_duplicated

,lea_state,lea_state_name,leaid,lea_name,schid,sch_name,combokey,ncessch,hs_8orlower,sch_grade_ps,...,tot_apenrl_hp_f,tot_apenrl_tr,tot_apenrl_tr_m,tot_apenrl_tr_f,tot_apenrl_lep,tot_apenrl_lep_m,tot_apenrl_lep_f,tot_apenrl_idea,tot_apenrl_idea_m,tot_apenrl_idea_f
9881,NV,NEVADA,3200060.0,CLARK COUNTY SCHOOL DISTRICT,666,Andre Agassi College Preparatory Academy,320006000666,3.200060e+11,1,No,...,0,2,0,2,0,0,0,0,0,0
9882,NV,NEVADA,3200060.0,CLARK COUNTY SCHOOL DISTRICT,666,Andre Agassi College Preparatory Academy,320006000666,3.200060e+11,1,No,...,0,2,0,2,0,0,0,0,0,0
9888,NV,NEVADA,3200060.0,CLARK COUNTY SCHOOL DISTRICT,749,Innovations International Charter School of NV,320006000749,3.200060e+11,1,No,...,0,0,0,0,0,0,0,0,0,0
9889,NV,NEVADA,3200060.0,CLARK COUNTY SCHOOL DISTRICT,749,Innovations International Charter School of NV,320006000749,3.200060e+11,1,No,...,0,0,0,0,0,0,0,0,0,0
10070,NJ,NEW JERSEY,3401470.0,Bergen County Vocational Technical School Dist...,264,Bergen County Technical High School - Paramus,340147000264,3.401470e+11,0,No,...,0,0,0,0,0,0,0,0,0,0
10071,NJ,NEW JERSEY,3401470.0,Bergen County Vocational Technical School Dist...,264,Bergen County Technical High School - Paramus,340147000264,3.401470e+11,0,No,...,0,0,0,0,0,0,0,0,0,0
15578,TX,TEXAS,4800022.0,RAUL YZAGUIRRE SCHOOL FOR SUCCESS,7905,RAUL YZAGUIRRE SCHOOL FOR SUCCESS,480002207905,4.800022e+11,0,No,...,0,0,0,0,0,0,0,0,0,0
15579,TX,TEXAS,4800022.0,RAUL YZAGUIRRE SCHOOL FOR SUCCESS,7905,RAUL YZAGUIRRE SCHOOL FOR SUCCESS,480002207905,4.800022e+11,0,No,...,0,0,0,0,0,0,0,0,0,0
15580,TX,TEXAS,4800022.0,RAUL YZAGUIRRE SCHOOL FOR SUCCESS,7905,RAUL YZAGUIRRE SCHOOL FOR SUCCESS,480002207905,4.800022e+11,0,No,...,0,0,0,0,0,0,0,0,0,0
15581,TX,TEXAS,4800022.0,RAUL YZAGUIRRE SCHOOL FOR SUCCESS,7905,RAUL YZAGUIRRE SCHOOL FOR SUCCESS,480002207905,4.800022e+11,0,No,...,0,0,0,0,0,0,0,0,0,0
15615,TX,TEXAS,4800139.0,TEKOA ACADEMY OF ACCELERATED STUDIES STEM SCHOOL,12365,TEKOA ACADEMY OF ACCELERATED STUDIES,480013912365,4.800139e+11,0,No,...,0,0,0,0,0,0,0,2,2,0
15616,TX,TEXAS,4800139.0,TEKOA ACADEMY OF ACCELERATED STUDIES STEM SCHOOL,12365,TEKOA ACADEMY OF ACCELERATED STUDIES,480013912365,4.800139e+11,0,No,...,0,0,0,0,0,0,0,2,2,0
15617,TX,TEXAS,4800139.0,TEKOA ACADEMY OF ACCELERATED STUDIES STEM SCHOOL,12365,TEKOA ACADEMY OF ACCELERATED STUDIES,480013912365,4.800139e+11,0,No,...,0,0,0,0,0,0,0,2,2,0

In [7]:
john_data = john_data.drop_duplicates(['combokey', 'schid', 'leaid', 'leastate'])

In [8]:
john_data

,lea_state,lea_state_name,leaid,lea_name,schid,sch_name,combokey,ncessch,hs_8orlower,sch_grade_ps,...,tot_apenrl_hp_f,tot_apenrl_tr,tot_apenrl_tr_m,tot_apenrl_tr_f,tot_apenrl_lep,tot_apenrl_lep_m,tot_apenrl_lep_f,tot_apenrl_idea,tot_apenrl_idea_m,tot_apenrl_idea_f
0,AL,ALABAMA,100005.0,Albertville City,871,Albertville High Sch,10000500871,1.000050e+10,0,No,...,0,4,2,2,37,20,17,0,0,0
1,AL,ALABAMA,100006.0,Marshall County,872,Asbury Sch,10000600872,1.000060e+10,1,No,...,0,0,0,0,0,0,0,0,0,0
2,AL,ALABAMA,100006.0,Marshall County,878,Douglas High Sch,10000600878,1.000060e+10,0,No,...,0,0,0,0,0,0,0,0,0,0
3,AL,ALABAMA,100006.0,Marshall County,883,Kate D Smith DAR High Sch,10000600883,1.000060e+10,0,No,...,0,0,0,0,0,0,0,0,0,0
4,AL,ALABAMA,100006.0,Marshall County,1585,Brindlee Mt High Sch,10000601585,1.000060e+10,0,No,...,0,0,0,0,0,0,0,0,0,0
5,AL,ALABAMA,100007.0,Hoover City,251,Hoover High Sch,10000700251,1.000070e+10,0,No,...,0,13,2,11,70,26,44,19,11,8
6,AL,ALABAMA,100007.0,Hoover City,1456,Spain Park High Sch,10000701456,1.000070e+10,0,No,...,2,10,5,5,55,35,20,22,8,14
7,AL,ALABAMA,100008.0,Madison City,831,Bob Jones High Sch,10000800831,1.000080e+10,0,No,...,2,10,2,8,4,2,2,2,2,0
8,AL,ALABAMA,100011.0,Leeds City,2096,Leeds High School,10001102096,1.000110e+10,0,No,...,0,0,0,0,0,0,0,0,0,0
9,AL,ALABAMA,100012.0,Boaz City,874,Boaz High Sch,10001200874,1.000120e+10,0,No,...,0,0,0,0,0,0,0,0,0,0
10,AL,ALABAMA,100013.0,Trussville City,1682,Hewitt-Trussville High Sch,10001301682,1.000130e+10,0,No,...,0,4,2,2,2,0,2,2,2,0
11,AL,ALABAMA,100030.0,Alexander City,3,Benjamin Russell High Sch,10003000003,1.000300e+10,0,No,...,0,0,0,0,0,0,0,0,0,0
12,AL,ALABAMA,100041.0,"Developing Alabama Youth Foundation, (DAY) Inc.",1852,Developing Alabama Youth Prog,10004101852,1.000410e+10,1,No,...,0,0,0,0,0,0,0,0,0,0
13,AL,ALABAMA,100060.0,Andalusia City,7,Andalusia High Sch,10006000007,1.000600e+10,1,No,...,0,0,0,0,0,0,0,0,0,0
14,AL,ALABAMA,100090.0,Anniston City,11,Anniston High Sch,10009000011,1.000900e+10,0,No,...,0,0,0,0,0,0,0,2,0,2
15,AL,ALABAMA,100100.0,Arab City,28,Arab High Sch,10010000028,1.001000e+10,0,No,...,0,0,0,0,0,0,0,0,0,0
16,AL,ALABAMA,100120.0,Athens City,1472,Athens High Sch,10012001472,1.001200e+10,0,No,...,0,2,0,2,0,0,0,0,0,0
17,AL,ALABAMA,100180.0,Attalla City,33,Etowah High Sch,10018000033,1.001800e+10,0,No,...,0,4,2,2,0,0,0,0,0,0
18,AL,ALABAMA,100185.0,Saraland City,2137,Saraland High Sch,10018502137,1.001850e+10,0,No,...,0,0,0,0,0,0,0,0,0,0
19,AL,ALABAMA,100188.0,Chickasaw City,2194,Chickasaw City High School,10018802194,1.001880e+10,1,No,...,0,0,0,0,0,0,0,0,0,0
20,AL,ALABAMA,100210.0,Auburn City,36,Auburn High Sch,10021000036,1.002100e+10,0,No,...,0,0,0,0,2,0,2,16,11,5
21,AL,ALABAMA,100240.0,Autauga County,45,Billingsley High Sch,10024000045,1.002400e+10,1,No,...,0,4,2,2,0,0,0,0,0,0
22,AL,ALABAMA,100240.0,Autauga County,46,Marbury Sch,10024000046,1.002400e+10,0,No,...,0,0,0,0,0,0,0,0,0,0
23,AL,ALABAMA,100240.0,Autauga County,48,Prattville High Sch,10024000048,1.002400e+10,0,No,...,0,2,2,0,0,0,0,0,0,0
24,AL,ALABAMA,100240.0,Autauga County,1408,Autaugaville Sch,10024001408,1.002400e+10,1,No,...,0,0,0,0,0,0,0,0,0,0
25,AL,ALABAMA,100270.0,Baldwin County,24,Robertsdale High Sch,10027000024,1.002700e+10,0,No,...,0,4,2,2,2,0,2,0,0,0
26,AL,ALABAMA,100270.0,Baldwin County,100,Fairhope High Sch,10027000100,1.002700e+10,0,No,...,0,7,2,5,0,0,0,4,2,2
27,AL,ALABAMA,100270.0,Baldwin County,641,Gulf Shores High Sch,10027000641,1.002700e+10,0,No,...,0,2,2,0,2,0,2,0,0,0
28,AL,ALABAMA,100270.0,Baldwin County,1759,Daphne High Sch,10027001759,1.002700e+10,0,No,...,0,19,8,11,0,0,0,7,5,2
29,AL,ALABAMA,100270.0,Baldwin County,1784,Foley High Sch,10027001784,1.002700e+10,0,No,...,0,10,2,8,4,2,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18653,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99928,BRONXDALE HIGH SCHOOL,362058099928,NaN,0,No,...,0,2,0,2,0,0,0,0,0,0
18654,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99873,STEPHEN T MATHER BUILDING ARTS AND CRAFTMANSHI...,362058099873,NaN,0,No,...,0,0,0,0,0,0,0,0,0,0
18655,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99859,HIGH SCHOOL FOR ENERGY AND TECHNOLOGY,362058099859,NaN,0,No,...,0,0,0,0,0,0,0,2,2,0
18656,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99856,WORLD VIEW HIGH SCHOOL,362058099856,NaN,0,No,...,0,0,0,0,0,0,0,0,0,0
18657,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99879,UNION SQUARE ACADEMY FOR HEALTH SCIENCES,362058099879,NaN,0,No,...,0,2,0,2,0,0,0,0,0,0
18658,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99947,MASPETH HIGH SCHOOL,362058099947,NaN,0,No,...,5,2,0,2,0,0,0,10,2,8
18659,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99927,HIGH SCHOOL FOR LANGUAGE AND INNOVATION,362058099927,NaN,0,No,...,0,0,0,0,7,2,5,0,0,0
18660,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99845,RESEARCH AND SERVICE HIGH SCHOOL,362058099845,NaN,0,No,...,0,0,0,0,4,2,2,10,5,5
18661,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99821,PELHAM LAB HIGH SCHOOL,362058099821,NaN,0,No,...,0,0,0,0,0,0,0,0,0,0
18662,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99810,VERITAS ACADEMY,362058099810,NaN,0,No,...,0,2,0,2,4,2,2,2,2,0
18663,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99822,BRONX COMPASS HIGH SCHOOL,362058099822,NaN,0,No,...,0,0,0,0,0,0,0,0,0,0
18664,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99815,QUEENS HIGH SCHOOL FOR LANGUAGE STUDIES,362058099815,NaN,0,No,...,0,0,0,0,7,5,2,2,0,2
18665,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99924,BRONX DESIGN AND CONSTRUCTION ACADEMY,362058099924,NaN,0,No,...,0,0,0,0,0,0,0,0,0,0
18666,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99817,PROFESSIONAL PATHWAYS HIGH SCHOOL,362058099817,NaN,0,No,...,0,0,0,0,0,0,0,0,0,0
18667,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99980,PARK SLOPE COLLEGIATE,362058099980,NaN,1,No,...,0,0,0,0,0,0,0,0,0,0
18668,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99979,MILLENNIUM BROOKLYN HIGH SCHOOL,362058099979,NaN,0,No,...,0,10,2,8,0,0,0,10,8,2
18669,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99925,METROPOLITAN SOUNDVIEW HIGH SCHOOL (THE),362058099925,NaN,0,No,...,0,2,0,2,0,0,0,2,2,0
18670,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99820,BRONX RIVER HIGH SCHOOL,362058099820,NaN,0,No,...,0,0,0,0,2,0,2,2,0,2
18671,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99824,WESTCHESTER SQUARE ACADEMY,362058099824,NaN,0,No,...,2,0,0,0,4,2,2,4,2,2
18672,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99877,HARVEST COLLEGIATE HIGH SCHOOL,362058099877,NaN,0,No,...,0,4,2,2,2,0,2,4,2,2
18673,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99918,BRONX ARENA HIGH SCHOOL,362058099918,NaN,0,No,...,0,0,0,0,0,0,0,0,0,0
18674,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99951,ROCKAWAY COLLEGIATE HIGH SCHOOL,362058099951,NaN,0,No,...,0,2,2,0,0,0,0,4,2,2
18675,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99923,CROTONA INTERNATIONAL HIGH SCHOOL,362058099923,NaN,0,No,...,0,0,0,0,0,0,0,0,0,0
18676,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99812,ENERGY TECH HIGH SCHOOL,362058099812,NaN,0,No,...,0,0,0,0,0,0,0,0,0,0
18677,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99823,SCHOOL FOR TOURISM AND HOSPITALITY,362058099823,NaN,0,No,...,0,0,0,0,0,0,0,0,0,0
18678,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99857,BRONX COLLABORATIVE HIGH SCHOOL,362058099857,NaN,0,No,...,0,0,0,0,0,0,0,0,0,0
18679,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99952,JAMAICA GATEWAY TO THE SCIENCES,362058099952,NaN,0,No,...,2,0,0,0,0,0,0,4,2,2
18680,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99811,INSTITUTE FOR HEALTH PROFESSIONALS AT CAMBRIA ...,362058099811,NaN,0,No,...,0,0,0,0,0,0,0,0,0,0
18681,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99868,HERO HIGH SCHOOL,362058099868,NaN,0,No,...,0,0,0,0,0,0,0,0,0,0
18682,NY,NEW YORK,3620580.0,NEW YORK CITY PUBLIC SCHOOLS,99870,MOTT HAVEN COMMUNITY HIGH SCHOOL,362058099870,NaN,0,No,...,0,0,0,0,0,0,0,0,0,0

In [9]:
john_data["combokey_converted"] = "='" + john_data['combokey'].apply(lambda x: str(x).zfill(12)) + "'"

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [10]:
"""Merge Datasets (Outer)"""
combined_data = pd.merge(crdc_1516, john_data, how='outer', left_on='COMBOKEY', right_on='combokey_converted')

In [11]:
len(combined_data)

18685

In [13]:
"""Merge Datasets (inner)"""
combined_data_2 = pd.merge(crdc_1516, john_data, how='inner', left_on='COMBOKEY', right_on='combokey_converted')

In [14]:
len(combined_data_2)

18674

In [15]:
not_common_nacep = crdc_1516[(~crdc_1516.COMBOKEY.isin(combined_data_2.COMBOKEY))]
not_common_john = john_data[(~john_data.combokey_converted.isin(combined_data_2.combokey_converted))]

In [16]:
not_common_john

,lea_state,lea_state_name,leaid,lea_name,schid,sch_name,combokey,ncessch,hs_8orlower,sch_grade_ps,...,tot_apenrl_tr,tot_apenrl_tr_m,tot_apenrl_tr_f,tot_apenrl_lep,tot_apenrl_lep_m,tot_apenrl_lep_f,tot_apenrl_idea,tot_apenrl_idea_m,tot_apenrl_idea_f,combokey_converted
3175,CT,CONNECTICUT,902400.0,MERIDEN SCHOOL DISTRICT,1896,Venture Academy-Meriden School District,90240001896,9.024000e+10,0,No,...,0,0,0,0,0,0,0,0,0,='090240001896'

In [19]:
not_common_nacep.to_csv('subsequent_questions/missing_from_johns.csv')
not_common_nacep

,COMBOKEY,SCH_NAME,GSHI,GSLO,JJ,LAT1516,LEAID,LEA_NAME,LEA_STATE,LEA_STATE_NAME,...,TITLEI,TOT_APENR_F,TOT_APENR_M,TOT_DUALENR_F,TOT_DUALENR_M,TOT_ENR_F,TOT_ENR_M,TOT_IBENR_F,TOT_IBENR_M,VIRTUAL
18044,='06CC36500001',accelerated achievement academy,12,4,No,39.164923,06CC365,Accelerated Achievement Academy (Ukiah),CA,CALIFORNIA,...,Yes,-9,-9,2,0,88,74,-9,-9,No
18199,='06CC32000001',community collaborative charter,12,KG,No,38.671240,06CC320,COMMUNITY COLLABORATIVE CHARTER (Twin Rivers),CA,CALIFORNIA,...,Yes,-9,-9,-9,-9,257,227,-9,-9,No
18200,='06CC43800001',community collaborative charter,12,KG,No,38.671240,06CC438,Community Collaborative Charter (Acton),CA,CALIFORNIA,...,Yes,-9,-9,-9,-9,711,697,-9,-9,No
18484,='262649006293',onekama consolidated schools,12,PK,No,44.364700,2626490,Onekama Consolidated Schools,MI,MICHIGAN,...,Yes,2,0,32,16,226,233,-9,-9,No
18603,='069902400001',university high,12,9,No,36.809710,699024,University High School,CA,CALIFORNIA,...,Missing,133,103,196,163,271,217,-9,-9,No
18662,='362058099874',urban assembly school for emergency management,11,8,No,40.711250,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,...,Yes,20,12,-9,-9,142,115,-9,-9,No
18663,='362058099933',urban assembly school for global commerce,11,9,No,40.807010,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,...,Yes,10,7,-9,-9,102,109,-9,-9,No
18664,='362058099968',forsyth satellite academy,12,9,No,40.722406,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,...,Yes,-9,-9,-9,-9,125,89,-9,-9,No
18665,='362058099992',brooklyn school for math and research,12,9,No,40.696845,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,...,Yes,33,37,-9,-9,102,171,-9,-9,No
18666,='362058099995',pathways technology early college high school,12,9,No,40.675934,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,...,Yes,-9,-9,63,146,137,380,-9,-9,No

In [ ]:
combined_data_2[combined_data_2.duplicated('COMBOKEY', keep=False)]