# <u> NACEP </u>
## 2015-16 CRDC
## High School Filtration

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from my_functions import combokey_converter

%matplotlib inline
sns.set_style('whitegrid')
plt.rc('axes', titlesize = 14, titleweight = 'bold', labelweight = 'bold')

# <font color = green> I. Column Info </font>

#  Column info for crdc_1516 
<b><div class="alert alert-block alert-info"> Contains 111 Fields </b>

In [2]:
crdc_cols = pd.read_csv('../filtered_data/00_crdc_1516_initial_layout.csv')

In [3]:
with pd.option_context('display.max_colwidth', 150, 'display.max_rows', 125):
    display(crdc_cols.drop('Module', axis = 1).set_index('Field_Name'))

                                                                                                                             Field_Description
Field_Name
LEA_STATE                                                                                                          District State Abbreviation
LEA_STATE_NAME                                                                                                             District State Name
LEAID                                                                                               7 Digit LEAID District Identification Code
LEA_NAME                                                                                                                         District Name
SCHID                                                                                                       5 Digit School Identification Code
SCH_NAME                                                                                                                           School Name
COMBOKEY                                                         7 Digit LEAID District Identification Code+5 Digit School Identification Code
JJ                                    Juvenile Justice Facility: "Yes" indicates a long-term secure facility; "No" indicates not a JJ facility
SCH_GRADE_PS                                                                                          Grades with Students Enrolled: Preschool
SCH_GRADE_KG                                                                                       Grades with Students Enrolled: Kindergarten
SCH_GRADE_G01                                                                                           Grades with Students Enrolled: Grade 1
SCH_GRADE_G02                                                                                           Grades with Students Enrolled: Grade 2
SCH_GRADE_G03                                                                                           Grades with Students Enrolled: Grade 3
SCH_GRADE_G04                                                                                           Grades with Students Enrolled: Grade 4
SCH_GRADE_G05                                                                                           Grades with Students Enrolled: Grade 5
SCH_GRADE_G06                                                                                           Grades with Students Enrolled: Grade 6
SCH_GRADE_G07                                                                                           Grades with Students Enrolled: Grade 7
SCH_GRADE_G08                                                                                           Grades with Students Enrolled: Grade 8
SCH_GRADE_G09                                                                                           Grades with Students Enrolled: Grade 9
SCH_GRADE_G10                                                                                          Grades with Students Enrolled: Grade 10
SCH_GRADE_G11                                                                                          Grades with Students Enrolled: Grade 11
SCH_GRADE_G12                                                                                          Grades with Students Enrolled: Grade 12
SCH_GRADE_UG                                                                                           Grades with Students Enrolled: Ungraded
SCH_UGDETAIL_HS                                                                                      Ungraded Detail: High school age students
SCH_STATUS_SPED                                                                               School Characteristics: Special education school
SCH_STATUS_MAGNET                                 School Characteristics: Magnet school or school operating a magnet program within the school
SCH_STATUS_CHARTER                                                                                      School Characteristics: Charter school
SCH_STATUS_ALT                                                                                      School Characteristics: Alternative school
SCH_ENR_HI_M                                                                                         Overall Student Enrollment: Hispanic Male
SCH_ENR_HI_F                                                                                       Overall Student Enrollment: Hispanic Female
SCH_ENR_AM_M                                                                    Overall Student Enrollment: American Indian/Alaska Native Male
SCH_ENR_AM_F                                                                  Overall Student Enrollment: American Indian/Alaska Native Female
SCH_ENR_AS_M                                                                                            Overall Student Enrollment: Asian Male
SCH_ENR_AS_F                                                                                          Overall Student Enrollment: Asian Female
SCH_ENR_HP_M                                                                 Overall Student Enrollment: Native Hawaiian/Pacific Islander Male
SCH_ENR_HP_F                                                               Overall Student Enrollment: Native Hawaiian/Pacific Islander Female
SCH_ENR_BL_M                                                                                            Overall Student Enrollment: Black Male
SCH_ENR_BL_F                                                                                          Overall Student Enrollment: Black Female
SCH_ENR_WH_M                                                                                            Overall Student Enrollment: White Male
SCH_ENR_WH_F                                                                                          Overall Student Enrollment: White Female
SCH_ENR_TR_M                                                                                Overall Student Enrollment: Two or More Races Male
SCH_ENR_TR_F                                                                              Overall Student Enrollment: Two or More Races Female
TOT_ENR_M                                                                                    Overall Student Enrollment: Calculated Male Total
TOT_ENR_F                                                                                  Overall Student Enrollment: Calculated Female Total
SCH_ENR_LEP_M                                                                                             Overall Student Enrollment: LEP Male
SCH_ENR_LEP_F                                                                                           Overall Student Enrollment: LEP Female
SCH_ENR_IDEA_M                                                                                           Overall Student Enrollment: IDEA Male
SCH_ENR_IDEA_F                                                                                         Overall Student Enrollment: IDEA Female
SCH_DUAL_IND                                                                                                 Dual Enrollment Program Indicator
SCH_DUALENR_HI_M                                                                                                Dual Enrollment: Hispanic Male
SCH_DUALENR_HI_F                                                                                              Dual Enrollment: Hispanic Female
SCH_DUALENR_AM_M                                                                           Dual Enrollment: American Indian/Alaska Native Male
SCH_DUALENR_AM_F                                                                         Dual Enrollment: American Indian/Alaska Native Female
SCH_DUALENR_AS_M                                                                                                   Dual Enrollment: Asian Male
SCH_DUALENR_AS_F                                                                                                 Dual Enrollment: Asian Female
SCH_DUALENR_HP_M                                                                        Dual Enrollment: Native Hawaiian/Pacific Islander Male
SCH_DUALENR_HP_F                                                                      Dual Enrollment: Native Hawaiian/Pacific Islander Female
SCH_DUALENR_BL_M                                                                                                   Dual Enrollment: Black Male
SCH_DUALENR_BL_F                                                                                                 Dual Enrollment: Black Female
SCH_DUALENR_WH_M                                                                                                   Dual Enrollment: White Male
SCH_DUALENR_WH_F                                                                                                 Dual Enrollment: White Female
SCH_DUALENR_TR_M                                                                                       Dual Enrollment: Two or More Races Male
SCH_DUALENR_TR_F                                                                                     Dual Enrollment: Two or More Races Female
TOT_DUAL_M                                                                                              Dual Enrollment: Calculated Male Total
TOT_DUAL_F                                                                                            Dual Enrollment: Calculated Female Total
SCH_DUALENR_LEP_M                                                                                                    Dual Enrollment: LEP Male
SCH_DUALENR_LEP_F                                                                                                  Dual Enrollment: LEP Female
SCH_DUALENR_IDEA_M                                                                                                  Dual Enrollment: IDEA Male
SCH_DUALENR_IDEA_F                                                                                                Dual Enrollment: IDEA Female
SCH_APENR_IND       Advanced Placement (AP) Program Indicator: Does this school have any students enrolled in Advanced Placement (AP) courses?
SCH_APENR_HI_M                                                                      Students Enrolled in at least one AP Course: Hispanic Male
SCH_APENR_HI_F                                                                    Students Enrolled in at least one AP Course: Hispanic Female
SCH_APENR_AM_M                                                 Students Enrolled in at least one AP Course: American Indian/Alaska Native Male
SCH_APENR_AM_F                                               Students Enrolled in at least one AP Course: American Indian/Alaska Native Female
SCH_APENR_AS_M                                                                         Students Enrolled in at least one AP Course: Asian Male
SCH_APENR_AS_F                                                                       Students Enrolled in at least one AP Course: Asian Female
SCH_APENR_HP_M                                              Students Enrolled in at least one AP Course: Native Hawaiian/Pacific Islander Male
SCH_APENR_HP_F                                            Students Enrolled in at least one AP Course: Native Hawaiian/Pacific Islander Female
SCH_APENR_BL_M                                                                         Students Enrolled in at least one AP Course: Black Male
SCH_APENR_BL_F                                                                       Students Enrolled in at least one AP Course: Black Female
SCH_APENR_WH_M                                                                         Students Enrolled in at least one AP Course: White Male
SCH_APENR_WH_F                                                                       Students Enrolled in at least one AP Course: White Female
SCH_APENR_TR_M                                                             Students Enrolled in at least one AP Course: Two or More Races Male
SCH_APENR_TR_F                                                           Students Enrolled in at least one AP Course: Two or More Races Female
TOT_APENR_M                                                                 Students Enrolled in at least one AP Course: Calculated Male Total
TOT_APENR_F                                                               Students Enrolled in at least one AP Course: Calculated Female Total
SCH_APENR_LEP_M                                                                          Students Enrolled in at least one AP Course: LEP Male
SCH_APENR_LEP_F                                                                        Students Enrolled in at least one AP Course: LEP Female
SCH_APENR_IDEA_M                                                                        Students Enrolled in at least one AP Course: IDEA Male
SCH_APENR_IDEA_F                                                                      Students Enrolled in at least one AP Course: IDEA Female
SCH_IBENR_IND                                                                          International Baccalaureate Diploma Programme Indicator
SCH_IBENR_HI_M                                                                                            IB Student Enrollment: Hispanic Male
SCH_IBENR_HI_F                                                                                          IB Student Enrollment: Hispanic Female
SCH_IBENR_AM_M                                                                       IB Student Enrollment: American Indian/Alaska Native Male
SCH_IBENR_AM_F                                                                     IB Student Enrollment: American Indian/Alaska Native Female
SCH_IBENR_AS_M                                                                                               IB Student Enrollment: Asian Male
SCH_IBENR_AS_F                                                                                             IB Student Enrollment: Asian Female
SCH_IBENR_HP_M                                                                    IB Student Enrollment: Native Hawaiian/Pacific Islander Male
SCH_IBENR_HP_F                                                                  IB Student Enrollment: Native Hawaiian/Pacific Islander Female
SCH_IBENR_BL_M                                                                                               IB Student Enrollment: Black Male
SCH_IBENR_BL_F                                                                                             IB Student Enrollment: Black Female
SCH_IBENR_WH_M                                                                                               IB Student Enrollment: White Male
SCH_IBENR_WH_F                                                                                             IB Student Enrollment: White Female
SCH_IBENR_TR_M                                                                                   IB Student Enrollment: Two or More Races Male
SCH_IBENR_TR_F                                                                                 IB Student Enrollment: Two or More Races Female
TOT_IBENR_M                                                                                       IB Student Enrollment: Calculated Male Total
TOT_IBENR_F                                                                                     IB Student Enrollment: Calculated Female Total
SCH_IBENR_LEP_M                                                                                                IB Student Enrollment: LEP Male
SCH_IBENR_LEP_F                                                                                              IB Student Enrollment: LEP Female
SCH_IBENR_IDEA_M                                                                                              IB Student Enrollment: IDEA Male
SCH_IBENR_IDEA_F                                                                                            IB Student Enrollment: IDEA Female

In [4]:
len(crdc_cols.index)

111

# Column info for nces_1516
<div class="alert alert-block alert-info">**17 Fields**

In [5]:
nces_cols = pd.read_csv('../filtered_data/01_nces_1516_initial_ccd_layout.csv')

In [6]:
"""Replace \n literals with commas for readability"""
nces_cols['Categorical Values'] = nces_cols['Categorical Values'].apply(lambda x: x.replace('\n', ', ') if type(x) == str else x)

In [7]:
with pd.option_context('display.max_colwidth', 350, 'display.max_rows', 25):
    display(nces_cols[['Variable Name', 'Description', 'Categorical Values']])

,Variable Name,Description,Categorical Values
0,LEAID,NCES Agency Identification Number,NaN
1,LEA_NAME,LEA Name,NaN
2,SCHID,NCES school identifier,NaN
3,STABR,State Abreviation,NaN
4,SCH_NAME,School name,NaN
5,TITLEI,Title I Eligible School. This flag indicates whether a school is eligible for participation in either TAS or SWP program authorized by Title I of Public Law 103-382.,"No, Yes, Missing, Not applicable, -9-Suppressed"
6,SCH_TYPE_TEXT,School type (description),"Alternative Education School, Regular School, Special Education School, Vocational Education School,"
7,SCH_TYPE,School type (code),"1 = Regular school, 2 = Special education school, 3 = Vocational school, 4 = Other/alternative school, 5 = Reportable program (new code starting in 2007–08),"
8,LEVEL,School level,"1 = Primary (low grade = PK through 03; high grade = PK through 08), 2 = Middle (low grade = 04 through 07; high grade = 04 through 09), 3 = High (low grade = 07 through 12; high grade = 12 only), 4 = Other (any other configuration not falling within the above three categories;including ungraded), N = Not applicable, ,"
9,VIRTUAL,Virtual School Status,"Missing, No, Yes"
10,GSLO,Lowest Grade Offered,NaN
11,GSHI,Highest Grade Offered,NaN
12,combokey,nces + schid unique identifier,NaN
13,NMCNTY15,County Code,NaN
14,LOCALE15,Locale Code,NaN
15,LAT1516,Latitude,NaN
16,LON1516,Longitutde,NaN

In [8]:
len(nces_cols.index)

17

# <font color = green> II. Data Cleaning/Joining </font>

# crdc_1516 Data
<div class="alert alert-block alert-info"><b> 96,360 Schools before any filtering <br>
111 Fields (Matches the crdc_cols)</b></div>
<br><br>
Used combokey_convert.converter to create a csv-compatible "COMBOKEY"

In [9]:
crdc_1516 = pd.read_csv('../filtered_data/00_crdc_1516_initial.csv', 
                        dtype = {'LEAID':np.object})

In [10]:
crdc_1516['COMBOKEY'] = combokey_converter.convert(crdc_1516, 'LEAID', 'SCHID')

In [11]:
crdc_1516.head()

,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,COMBOKEY,JJ,SCH_GRADE_PS,SCH_GRADE_KG,...,SCH_IBENR_WH_M,SCH_IBENR_WH_F,SCH_IBENR_TR_M,SCH_IBENR_TR_F,TOT_IBENR_M,TOT_IBENR_F,SCH_IBENR_LEP_M,SCH_IBENR_LEP_F,SCH_IBENR_IDEA_M,SCH_IBENR_IDEA_F
0,AL,ALABAMA,100002,Alabama Youth Services,1705,Wallace Sch - Mt Meigs Campus,='010000201705',Yes,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
1,AL,ALABAMA,100002,Alabama Youth Services,1706,McNeel Sch - Vacca Campus,='010000201706',Yes,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
2,AL,ALABAMA,100002,Alabama Youth Services,1876,Alabama Youth Services,='010000201876',No,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
3,AL,ALABAMA,100002,Alabama Youth Services,99995,AUTAUGA CAMPUS,='010000299995',Yes,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9
4,AL,ALABAMA,100005,Albertville City,870,Albertville Middle School,='010000500870',No,No,No,...,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9

In [12]:
len(crdc_1516.index)

96360

In [13]:
len(crdc_1516.columns)

111

# nces_1516 Data
<div class="alert alert-block alert-info"><b> The nces_1516 Data was recorded in separate files (each with different numbers of schools), so I will have to join the separate files to avoid corruption/loss of data. </b><br>
    <u>Files</u><br>
    1. Characteristics <br>
    2. Directory <br>
    3. Geographic <br>
</div><div class = 'alert alert-block alert-info'>
Like the crdc data, the combokey field was generated using my combokey_converter.convert function.<br></div>

<div class="alert alert-block alert-warning">
1. **100232 Initial Schools**<br><br>
2. **After first inner join (Directory and Characteristics) --> 100232 schools**<br>
Note: I ran a check to ensure that all of the matching combokeys have matching school names -- 100% identical.<br><br>
3. **After second inner join (above_combined and Geographic) --> 100087**<br> Note:  I ran the same check to ensure that all of the schools matched and nearly 9000 came back as non-matching.  I then compared the first word of each of the two name fields, and only 9 schools came back as non-matching.  After close examination, I decided to cull these 9 schools.<br></div><div class = 'alert alert-block alert-warning'>
**CSV saved to '../filtered_data/01_nces_1516_initial_ccd.csv'**

In [14]:
nces_1516_characteristics = pd.read_csv('../filtered_data/01_nces_1516_initial_school_characteristics.csv')

In [15]:
nces_1516_characteristics['combokey'] = combokey_converter.convert(nces_1516_characteristics, 'LEAID', 'SCHID')

In [16]:
len(nces_1516_characteristics.index)

100232

In [17]:
nces_1516_directory = pd.read_csv('../filtered_data/01_nces_1516_initial_school_directory.csv')

In [18]:
nces_1516_directory['combokey'] = combokey_converter.convert(nces_1516_directory, 'LEAID', 'SCHID')

**First Join:  Directory + Characteristics**

In [19]:
nces_1516 = nces_1516_characteristics.set_index('combokey').join(nces_1516_directory.set_index('combokey'), how = 'inner', lsuffix = 'dir_')

In [20]:
len(nces_1516.index)

100232

In [21]:
len(nces_1516[nces_1516.SCH_NAME == nces_1516.SCH_NAMEdir_].index)

100232

In [22]:
nces_1516 = nces_1516.drop(['LEAIDdir_', 'SCHIDdir_', 'SCH_NAMEdir_'], axis = 1)

**Second Join: combined + geo**

In [23]:
nces_1516_geo = pd.read_csv('../filtered_data/01_nces_1516_initial_geographic.csv',  dtype = {'LOCALE15': np.object})

In [24]:
nces_1516_geo['combokey'] = combokey_converter.convert(nces_1516_geo, 'LEAID', 'SCHID')

In [25]:
nces_1516_test = nces_1516.join(nces_1516_geo.set_index('combokey'), how = 'inner', rsuffix = 'dir_')

In [26]:
len(nces_1516_test.index)

100096

In [27]:
"""How many schools have matching School Names between CRDC and NCES?"""
len(nces_1516_test[nces_1516_test.SCH_NAME == nces_1516_test.NAME].index)

91091

In [28]:
def name_checker(sch1, sch2):
    sch1 = sch1.lower()
    sch2 = sch2.lower()
    
    if sch1[0] == sch2[0]:
        return 0
    return 1

nces_1516_test['no_match_name'] = nces_1516_test.apply(lambda row: name_checker(row['SCH_NAME'], row['NAME']), axis = 1)
nces_1516_test[nces_1516_test.no_match_name == 1][['NAME', 'SCH_NAME']]

,NAME,SCH_NAME
combokey,,
='051266001562',HYLTON JUNIOR HIGH SCHOOL,LAKESIDE JUNIOR HIGH SCHOOL
='090147001810',Stowe - Early Learning Center (S,EPS PK STEAM Academy
='090171001700',Alternative High School Programs,Greenwich Alternative High School
='090192001616',STEM Magnet School at Dwight,Betances STEM Magnet School
='090279000148',Hyde School of Health Science an,Cortlandt V.R. Creed Health and Sport Sciences...
='090279001543',Helene Grant Headstart,Dr. Mayo Early Childhood School
='090279001585',Katherine Brennan/Clarence Roger,Brennan Rogers School
='090351201476',Education Connection Special Edu,GFLC/ACCESS School
='090423001808',Hatton Preschool Program,Southington Public Schools Preschool Program a...

In [29]:
nces_1516_full = nces_1516_test[nces_1516_test.no_match_name == 0].drop(['LEAIDdir_', 'SCHIDdir_', 'no_match_name', 'NAME'], axis = 1)

In [30]:
nces_1516_full.head()

,TITLEI,LEAID,LEA_NAME,STABR,SCHID,SCH_NAME,SCH_TYPE_TEXT,SCH_TYPE,LEVEL,VIRTUAL,GSLO,GSHI,NMCNTY15,LOCALE15,LAT1516,LON1516
combokey,,,,,,,,,,,,,,,,
='010000200277',-9,100002,Alabama Youth Services,AL,277,Sequoyah Sch - Chalkville Campus,Alternative Education School,4,3,No,7,12,Jefferson County,21,33.673661,-86.628755
='010000201667',-9,100002,Alabama Youth Services,AL,1667,Camps,Alternative Education School,4,3,No,7,12,Autauga County,41,32.521681,-86.530132
='010000201670',-9,100002,Alabama Youth Services,AL,1670,Det Ctr,Alternative Education School,4,3,No,7,12,Clarke County,41,31.938444,-87.750529
='010000201705',-9,100002,Alabama Youth Services,AL,1705,Wallace Sch - Mt Meigs Campus,Alternative Education School,4,3,No,7,12,Montgomery County,41,32.374812,-86.082360
='010000201706',-9,100002,Alabama Youth Services,AL,1706,McNeel Sch - Vacca Campus,Alternative Education School,4,3,No,7,12,Jefferson County,12,33.583385,-86.710058

In [31]:
len(nces_1516_full.index)

100087

** Third Join - Enrollments **

In [32]:
nces_enrollment = pd.read_csv('../filtered_data/01_nces_1516_initial_membership.csv')

In [33]:
nces_enrollment['COMBOKEY'] = combokey_converter.convert(nces_enrollment, 'LEAID', 'SCHID')

In [34]:
def missing_value_mapper(value):
    """Converts any negative number into 0, as these negative numbers represent missing/null values"""
    if isinstance(value, int):
        if value < 0:
            return 0
    return value

In [35]:
nces_enrollment_cleaned = nces_enrollment.applymap(missing_value_mapper)

In [36]:
nces_1516_full = nces_1516_full.join(nces_enrollment_cleaned.set_index('COMBOKEY'), how='left', rsuffix=('_drop'))

In [37]:
"""Drop the schools that did not have matching COMBOKEYS (They were all seemed fairly odd)"""
nces_1516_full = nces_1516_full[nces_1516_full.SCH_NAME_drop.notnull()]

In [38]:
keep_columns = [c for c in nces_1516_full.columns if '_drop' not in c]
nces_1516_full = nces_1516_full[keep_columns]

In [39]:
# nces_1516_full.to_csv('../filtered_data/01_nces_1516_initial_combined_ccd.csv')

# NCES (combined) and CRDC join
<div class="alert alert-block alert-warning">Out of the 96360 schools in the crdc1516 dataset, <b>3861</b> schools did not have a matching Combokey. These non-matching schools were kept in the dataset.<br><br>

Using the name checker function from above, another <b>182</b> schools were found to have School Names whose first words did not match between the NCES and CRDC sets.  Airing on the side of caution, these schools were indiscriminately culled.<br><br>

**Final school count in the combined dataset:  96178**</div>
<div class = 'alert alert_block alert-info'>Dataset saved to '03_crdc_nces_1516_raw_combined.csv'

In [40]:
crdc_nces1516_test = crdc_1516.set_index('COMBOKEY').join(nces_1516_full, how = 'left', rsuffix=('_'))

In [41]:
crdc_nces1516_test[crdc_nces1516_test.SCH_NAME_.isnull()].LEAID.count()

4244

In [42]:
def name_checker(sch1, sch2):
    if type(sch2) == float:
        return 2
    else:
        sch1 = sch1.lower()
        sch2 = sch2.lower()
        
    if sch1[0] == sch2[0]:
        return 0
    return 1

crdc_nces1516_test['no_match_name'] = crdc_nces1516_test.apply(lambda row: name_checker(row['SCH_NAME'], row['SCH_NAME_']), axis = 1)

In [43]:
"""How many schools don't have matching Schools Names (from the CRDC and NCES datasets, respectively)"""
len(crdc_nces1516_test[crdc_nces1516_test.no_match_name == 1][['SCH_NAME', 'SCH_NAME_']].index)

178

In [44]:
crdc_nces_1516 = crdc_nces1516_test[crdc_nces1516_test.no_match_name != 1].drop(['LEA_NAME_', 'LEAID_', 'SCHID_', 'SCH_NAME_', 'no_match_name'], axis = 1)

In [45]:
len(crdc_nces_1516.index)

96182

In [46]:
crdc_nces_1516 = crdc_nces_1516.fillna('Missing')

In [47]:
# crdc_nces_1516.to_csv('../filtered_data/03_crdc_nces_1516_raw_combined.csv')

**Check to see how close the Enrollment Numbers between NCES and CRDC are**

In [48]:
crdc_total_enrollments = crdc_nces_1516.TOT_ENR_M + crdc_nces_1516.TOT_ENR_F

In [49]:
nces_total_enrollments = crdc_nces_1516[['MEMBER', 'SCH_NAME', 'LEA_STATE']]

In [50]:
enrollment_compare = pd.concat([crdc_total_enrollments, nces_total_enrollments], axis = 1)
enrollment_compare = enrollment_compare.rename({0:'crdc', 'MEMBER':'nces'}, axis = 1)
enrollment_compare = enrollment_compare[enrollment_compare.nces != 'Missing']
enrollment_compare['diff'] = enrollment_compare['crdc'] - enrollment_compare['nces']
enrollment_compare['pct_diff'] = abs((enrollment_compare['diff'] / enrollment_compare['crdc'])) * 100

In [51]:
enrollment_compare.sort_values('diff').head()

,crdc,nces,SCH_NAME,LEA_STATE,diff,pct_diff
COMBOKEY,,,,,,
='482730003072',2051,4377,LEWISVILLE H S,TX,-2326,113.408
='200336002040',346,2623,Andover eCademy,KS,-2277,658.092
='060001412375',24,1228,Encore Jr./Sr. High Sch for the Perf and Visua...,CA,-1204,5016.67
='180567001031',1270,2400,Lawrence North High School,IN,-1130,88.9764
='180567001029',1298,2388,Lawrence Central High School,IN,-1090,83.9753

In [52]:
enrollment_compare.sort_values('diff', ascending=False).head()

,crdc,nces,SCH_NAME,LEA_STATE,diff,pct_diff
COMBOKEY,,,,,,
='250402002028',3805,667,James M. Quinn School,MA,3138,82.4704
='069107810186',3271,643,Los Angeles County Special Education,CA,2628,80.3424
='293168002216',2551,0,SOUTH CENTRAL CAREER CTR.,MO,2551,100
='180567000725',2210,0,McKenzie Career Center,IN,2210,100
='401956000932',2468,498,MCLOUD HS,OK,1970,79.8217

In [53]:
enrollment_compare.sort_values('pct_diff', ascending=False)

,crdc,nces,SCH_NAME,LEA_STATE,diff,pct_diff
COMBOKEY,,,,,,
='181305000807',2,492,Western Wayne Elementary School,IN,-490,24500
='064074010681',2,414,MIT Academy,CA,-412,20600
='063213013060',2,239,Connect Community Charter,CA,-237,11850
='360100506110',4,447,EQUALITY CHARTER SCHOOL,NY,-443,11075
='470014802267',2,223,New Consortium of Law and Business,TN,-221,11050
='341599000709',4,441,GOVERNOR CHARLES C STRATTON,NJ,-437,10925
='040636000556',2,164,Picacho School,AZ,-162,8100
='360405005411',7,567,DANA L LYON MIDDLE SCHOOL,NY,-560,8000
='530267002818',2,153,Special Services,WA,-151,7550
='050228000007',4,218,ALPENA HIGH SCHOOL,AR,-214,5350
='060001412375',24,1228,Encore Jr./Sr. High Sch for the Perf and Visua...,CA,-1204,5016.67
='064074008398',10,427,Mare Island Technology Academy,CA,-417,4170
='272295001042',2,83,BIRTH TO TWO ECSE,MN,-81,4050
='273819001810',4,140,STILLWATER SPECIAL SERVICES-ECSE,MN,-136,3400
='060813011809',12,407,Aspire Summit Charter Academy,CA,-395,3291.67
='463460000297',2,65,Hoven Elementary - 02,SD,-63,3150
='273384004382',10,319,EARLY EDUCATION - BIRTH TO THREE,MN,-309,3090
='403024002663',17,537,TRAICE,OK,-520,3058.82
='270005503650',2,50,HIAWATHA VALLEY NORTH CLUSTER ECSE,MN,-48,2400
='500002700194',4,94,Twin Valley Middle School,VT,-90,2250
='381647000570',2,43,SAWYER HIGH SCHOOL,ND,-41,2050
='340876000542',38,774,Memorial Elementary School,NJ,-736,1936.84
='060001412333',24,451,LaVerne Elementary Preparatory Academy,CA,-427,1779.17
='481413000891',35,589,CITY VIEW EL,TX,-554,1582.86
='292187501218',19,282,NEW BLOOMFIELD ELEM.,MO,-263,1384.21
='010060000256',19,273,Lafayette Eastside Elem Sch,AL,-254,1336.84
='060001411746',24,332,Pathways to College,CA,-308,1283.33
='271807004317',2,27,LSH MIDDLE SCHOOL ALTERNATIVE PROG,MN,-25,1250
='292016001072',19,254,MARION C. EARLY ELEM.,MO,-235,1236.84
='380001600614',6,71,STRASBURG ELEMENTARY SCHOOL,ND,-65,1083.33
...,...,...,...,...,...,...
='483234003587',314,314,NEW BOSTON MIDDLE,TX,0,0
='483237003589',535,535,CARL SCHURZ EL,TX,0,0
='260708004306',409,409,Thomas Simpson Middle School,MI,0,0
='260704000269',15,15,Brown City Alternative H.S.,MI,0,0
='062928004523',303,303,Prairie Elementary,CA,0,0
='483237012223',772,772,KLEIN ROAD EL,TX,0,0
='260877008723',9,9,Charlotte Early Middle College,MI,0,0
='062910004492',416,416,Ophir Elementary,CA,0,0
='260956004449',580,580,Chippewa Hills Intermediate School,MI,0,0
='062886007077',403,403,Wagner Ranch Elementary,CA,0,0
='261200000279',155,155,Davis Aerospace High School,MI,0,0
='040021101975',222,222,Tri-City College Prep High School,AZ,0,0
='261170004628',271,271,Deckerville Community High School,MI,0,0
='261164004620',195,195,Daly School,MI,0,0
='261160008626',120,120,Dearborn 6/7 STEM School,MI,0,0
='261160001740',605,605,Unis Middle School,MI,0,0
='261155007518',429,429,Schavey Road Elementary School,MI,0,0
='261143004580',603,603,Central Elementary School,MI,0,0
='261114008699',52,52,Croswell-Lexington Alternative Secondary School,MI,0,0
='261086008582',140,140,Nellie Reed Elementary,MI,0,0
='062865004439',556,556,Nohl Canyon Elementary,CA,0,0
='261075007891',63,63,Constantine Alternative Education,MI,0,0
='261062004534',459,459,Stoney Creek Elementary,MI,0,0
='062865008245',461,461,Olive Elementary,CA,0,0
='261008004494',231,231,Clintondale Middle School,MI,0,0
='260984004468',435,435,Clarenceville Middle School,MI,0,0
='483189008094',12,12,P E P,TX,0,0
='483192005557',56,56,MULLIN H S,TX,0,0
='062883004469',16,16,Orick Elementary,CA,0,0
='280282001243',446,446,EAST MARION ELEMENTARY SCHOOL,MS,0,0

In [54]:
print(format(int(enrollment_compare.nces.sum()),',d'))
print(format(enrollment_compare.crdc.sum(), ',d'))

48,540,110
48,935,652

# <font color = green> IV. Filtration </font>

# Select Non-[Junvile Justice, Special Education, and Alternative Schools]
<div class = 'alert alert-block alert-info'>Schools that answered 'No' to each of those three questions on the CRDC Sruvey.<br><br> 
I also used a keyword filter to remove any remaining "Juvenile Justice"-eque Institutions.</div>
<div class = 'alert alert-block alert-warning'>**90448** Schools Remain</div>

In [55]:
filter1_crdc_nces_1516 = crdc_nces_1516[(crdc_nces_1516.JJ == 'No') & (crdc_nces_1516.SCH_STATUS_ALT == 'No') & (crdc_nces_1516.SCH_STATUS_SPED == 'No')]

In [56]:
def jj_keyword_remove(name):
    kws = ['behavioral', 'juvenile', 'correction']
    for kw in kws:
        if kw in name.strip().lower():
            return False
    return True

filter1_crdc_nces_1516 = filter1_crdc_nces_1516[filter1_crdc_nces_1516.SCH_NAME.apply(lambda x: jj_keyword_remove(x))]
filter1_crdc_nces_1516 = filter1_crdc_nces_1516[filter1_crdc_nces_1516.LEA_NAME.apply(lambda x: jj_keyword_remove(x))]

In [57]:
len(filter1_crdc_nces_1516.index)

90449

# Select Schools with Lowest Grade (9-12) or Highest Grade (12) or Ungraded HS-students
<div class = 'alert alert-block alert-info'>I made formulas that take in the data from CRDC (because there are no null values for the Grade Enrollment Flags), and determines: (1) if a school's lowest grade offered is above 9, (2) if it contains ungraded HS-aged studnets, and (3) if a school's highest grade offered is 12th.<br><br>While NCES CCD does have columns for lowest and highest grades, there were many null values, so the filtration may have been too intense.</div>
<div class = 'alert alert-block alert-warning'>**21606** Schools Remain</div>

In [58]:
"""How many missing values in the grade columns?"""
np.sum(filter1_crdc_nces_1516.SCH_GRADE_G01.isnull())

0

In [59]:
def lowest_grade_9orAbove(g9, g10, g11, g12, ug, ug_hs):
    """Inputs all of the grade enrollment flags from the CRDC dataset
        Returns a label representing whether or not a school's lowest grade is 9, 10, 11, or 12 
        (or if a school is ungraded, but has hs-aged students)
        """
    if ug == 'Yes':
        if ug_hs == 'Yes': 
            return 'UG-Yes'
        else:
            return 'UG-No'

    if g9 == 'Yes':
        return 'Yes'
    if g10 == 'Yes':
        return 'Yes'
    if g11 == 'Yes':
        return 'Yes'
    if g12 == 'Yes':
        return 'Yes'
    return 'No'

In [60]:
def highest_grade_12(g12):
    """Inputs all of the grade enrollment flags from the CRDC dataset
        Returns a label representing whether or not a school's highest grade is 12.
        """
    
    if g12 == 'Yes':
        return 'Yes'
    return 'No'

In [61]:
filter2_crdc_nces_1516 = filter1_crdc_nces_1516.copy()
filter2_crdc_nces_1516['Low_Grade_Above9'] = filter2_crdc_nces_1516.apply(lambda row: lowest_grade_9orAbove(row['SCH_GRADE_G09'], row['SCH_GRADE_G10'], row['SCH_GRADE_G11'], row['SCH_GRADE_G12'], row['SCH_GRADE_UG'], row['SCH_UGDETAIL_HS']), axis = 1)

In [62]:
filter2_crdc_nces_1516['High_Grade_12'] = filter2_crdc_nces_1516.apply(lambda row: highest_grade_12(row['SCH_GRADE_G12']), axis = 1)

In [63]:
"""Breakdown of Schools with a Lowest Grade Above 9 (or with Ungrade HS-aged Students)"""
filter2_crdc_nces_1516.Low_Grade_Above9.value_counts()

No        66887
Yes       19771
UG-No      2294
UG-Yes     1497
Name: Low_Grade_Above9, dtype: int64

In [64]:
"""Breakdown of Schools with a Highest Grade of 12"""
filter2_crdc_nces_1516.High_Grade_12.value_counts()

No     70095
Yes    20354
Name: High_Grade_12, dtype: int64

In [65]:
filter2_crdc_nces_1516 = filter2_crdc_nces_1516[(filter2_crdc_nces_1516.Low_Grade_Above9 == 'Yes') | (filter2_crdc_nces_1516.Low_Grade_Above9 == 'UG-Yes') | (filter2_crdc_nces_1516.High_Grade_12 == 'Yes')]

In [66]:
len(filter2_crdc_nces_1516.index)

21606

# Remove Virtual Schools
<div class = 'alert alert-block alert-info'>
1. Remove any Schools that reported 'Yes' to the Virtual Schools Question<br>
2. Remove Schools that have certain keyword that likely indicate an online school
</div>
<div class = 'alert alert-block alert-warning'>**21209** Schools Remain</div>

In [67]:
filter2_crdc_nces_1516.VIRTUAL.value_counts()

No         17338
Missing     3937
Yes          331
Name: VIRTUAL, dtype: int64

In [68]:
filter3_crdc_nces_1516 = filter2_crdc_nces_1516[filter2_crdc_nces_1516.VIRTUAL != 'Yes']

In [69]:
len(filter3_crdc_nces_1516.index)

21275

In [70]:
def any_missed_virtuals(name):
    kws = ['virtual', 'cyber', 'electronic', 'internet', 'online', 'distance']
    for kw in kws:
        if kw in name.strip().lower():
            return False
    return True

filter3_crdc_nces_1516 = filter3_crdc_nces_1516[filter3_crdc_nces_1516.SCH_NAME.apply(lambda x: any_missed_virtuals(x))]

In [71]:
len(filter3_crdc_nces_1516.index)

21209

# Remove schools reported as elementary, middle, or "Other"
<div class = 'alert alert-block alert-info'>Even with the Lowest/Highest Grade filter, I wanted to ensure that no non-typical high schools (as reported by the NCES's LEVEL Field) are retained.  The Other category is perhaps the most important to cull here, as many of the very, very large charter-type schools are listed in this category.
<br><br>
Schools with Missing Values were retained.
</div>
<div class = 'alert alert-block alert-warning'>**17542** Schools Remain</div>

In [72]:
filter4_crdc_nces_1516 = filter3_crdc_nces_1516.copy()

In [73]:
filter4_crdc_nces_1516.LEVEL.value_counts()

3          16348
4           3214
Missing     1264
2            307
1             76
Name: LEVEL, dtype: int64

In [74]:
filter4_crdc_nces_1516 = filter4_crdc_nces_1516[(filter4_crdc_nces_1516.LEVEL == 'Missing') | (filter4_crdc_nces_1516.LEVEL == '3')]

In [75]:
len(filter4_crdc_nces_1516.index)

17612

# Select Schools reported as Regular
<div class = 'alert alert-block alert-info'>Removed Schools with a SCH_TYPE that was not 1 (Regular).  Culls additional "Special Education", "Vocational", and "Alternative/Other" schools.
<br><br>
Schools with Missing Values were retained.
</div>
<div class = 'alert alert-block alert-warning'>**16451** Schools Remain</div>

In [76]:
filter5_crdc_nces_1516 = filter4_crdc_nces_1516.copy()

In [77]:
filter5_crdc_nces_1516.SCH_TYPE.value_counts()

1.0        15257
Missing     1264
4.0          744
3.0          332
2.0           15
Name: SCH_TYPE, dtype: int64

In [78]:
filter5_crdc_nces_1516 = filter5_crdc_nces_1516[(filter5_crdc_nces_1516.SCH_TYPE == 'Missing') | (filter5_crdc_nces_1516.SCH_TYPE == 1)]

In [79]:
len(filter5_crdc_nces_1516.index)

16521

# <font color = green> V. Dealing with Missing Values </font>
<div class = 'alert alert-cell alert-info'> With nearly 1200 schools missing NCES data, including schools from prominent districts like "NEW YORK CITY PUBLIC SCHOOLS" and "Green Dot Public Schools," it is important to try to recover as much of these schools as possible.
<br><br>
The problem that I found was that the CRDC lumped a number of school districts together; therefore, the combokeys of schools in these districts do not match those of the NCES.
</div>

<div class = 'alert alert-cell alert-info'>
**I tried a number of methods to try to properly join these missing schools:**<br>
- Using only the school name:  This had difficulties because there are many schools that share the same name, so when a join is implemented, these schools are given all of the values of the other schools (i.e. it creates a lot of duplicate values).
- Using the NCES data from 2013:  This was also problematic, as most of the same schools that were missing in this dataset were also constrained to the same problem in the 2013-2014 dataset.<br>
- Using the District and the name together:  This also suffered from the fact that the CRDC data combines some school districts; therefore, the names of the districts still did not match up.<br>
- **Finally, I used a combination of the name of the school and the state:  There were only a handfull in the dataset containing the missing values.**<br><br>
</div>

<div class = 'alert alert-cell alert-warning'>
**821 (out of 1194)** Missing Schools were recovered using this method </div>

<div class = 'alert alert-cell alert-info'>
Next, I recovered the remaining schools in the 'New York City Public Schools District', because it was clear that they were simply missing due to a LEA reporting error in the CRDC data.  This process was two-parted:<br>
- First, Because it seemed as though most of these remaining New York schools had the incorrect LEAID, I used the the school id and state abreviation to create a unique identifier.<br>
- Second, I used the NCES database to manually search for the remaining schools correct their combokey
</div>

<div class = 'alert alert-cell alert-warning'>
**36** More High Schools Recovered  </div>

<div class = 'alert alert-cell alert-info'>
I performed the same (nces-provided field)-filtration steps on the recovered data.  Then, I hand-removed duplicate values by checking the original filtered data for matching records. </div>

<div class = 'alert alert-cell alert-warning'>
**468** Recovered High Schools Total  </div>

In [80]:
"""Which districts had the most missing schools?"""
with pd.option_context('display.max_rows', 1200):
    display(filter5_crdc_nces_1516[filter5_crdc_nces_1516.LEVEL == 'Missing'].groupby('LEA_NAME')['LEAID'].count().sort_values(ascending = False))

LEA_NAME
NEW YORK CITY PUBLIC SCHOOLS                                                               615
Green Dot Public Schools                                                                    11
OFFICE OF EDUCATION DEPARTMENT OF CHILDREN AND FAMILIES                                     10
NORMAN                                                                                       9
Peters Township SD                                                                           6
Dept. of Svs. for Children Youth & Their Families                                            5
Ombudsman Educational Services Ltd. a subsidiary of Educ 2                                   4
Boston                                                                                       4
LINCOLN PUBLIC SCHOOLS                                                                       4
BOYS TOWN INTERIM PRG SCHS                                                                   4
WINDSOR SCHOOL DISTRICT                                                                      3
TULSA                                                                                        3
Geauga County Educational Service Center                                                     3
Ombudsman Educational Services Ltd. a subsidiary of Educ 1                                   3
Coweta County                                                                                3
Cherokee County                                                                              3
Clayton County                                                                               3
Anne Arundel County Public Schools                                                           3
ERIE 2-CHAUTAUQUA-CATTARAUGUS BOCES                                                          3
Learning Tree Inc                                                                            3
NASSAU BOCES                                                                                 3
HARRIS COUNTY DEPT OF ED                                                                     2
Horizon Charter                                                                              2
Higdon Hill School                                                                           2
Harris County                                                                                2
NEW HAVEN SCHOOL DISTRICT                                                                    2
SPRINGDALE SCHOOL DISTRICT                                                                   2
Toledo City                                                                                  2
ONONDAGA-CORTLAND-MADISON BOCES                                                              2
BLaST IU 17                                                                                  2
BOLIVAR R-I                                                                                  2
New Brunswick School District                                                                2
Burlington School District                                                                   2
Brownsburg Community Sch Corp                                                                2
Forsyth County Schools                                                                       2
South-Western City                                                                           2
St. Mary's County Public Schools                                                             2
Cincinnati City                                                                              2
TRINITY CHARTER SCHOOL                                                                       2
Bibb County                                                                                  2
Mesa Unified District                                                                        2
Cobb County                                                                                  2
LAS CRUCES PUBLIC SCHOOLS                                                                    2
Cleveland Metropolitan School District                                                       2
Horry 01                                                                                     2
PACIFIC CHARTER INSTITUTE                                                                    2
LEWISVILLE ISD                                                                               2
ORLEANS-NIAGARA BOCES                                                                        2
PRIORITY CHARTER SCHOOLS                                                                     2
Academy School District 20                                                                   2
Linn Benton Lincoln ESD                                                                      2
ARLINGTON CO PBLC SCHS                                                                       2
GOLDEN EAGLE CHARTER                                                                         1
ENVISION ACADEMY FOR ARTS & TECHNOLOGY                                                       1
ENVIRONMENTAL SCIENCE AND TECHNOLOGY HIGH SCHOOL                                             1
Friendship PCS                                                                               1
ENID                                                                                         1
GENESEE VALLEY BOCES                                                                         1
GERING PUBLIC SCHOOLS                                                                        1
GRANADA HILLS CHARTER HIGH                                                                   1
EL CAMINO REAL CHARTER HIGH SCHOOL                                                           1
GRAPEVINE-COLLEYVILLE ISD                                                                    1
GREEN COUNTRY TECHNOLOGY CTR                                                                 1
EDUCATIONAL SERVICE UNIT 13                                                                  1
GROTON SCHOOL DISTRICT                                                                       1
EDUCATIONAL SERVICE UNIT 11                                                                  1
Gateway College And Career Academy                                                           1
EAST WINDSOR SCHOOL DISTRICT                                                                 1
EAST MTN HIGH SCHOOL                                                                         1
ENVISIONS LEVEL III SCH PROG                                                                 1
Empire Springs Charter                                                                       1
FUTURES HIGH                                                                                 1
Encore High School for the Arts                                                              1
Gateway Public Schools                                                                       1
Ellsworth Public Schools                                                                     1
Evart Public Schools                                                                         1
Eldora State Training School for Boys                                                        1
El Camino Real Academy                                                                       1
Ednovate - USC East College Prep                                                             1
Everest Public High School                                                                   1
East Orange School District                                                                  1
Early County                                                                                 1
EXCELLENCE GIRLS CHARTER SCHOOL                                                              1
Excel Institute                                                                              1
ESCUELA POPULAR/CENTER FOR TRAINING AND CAREERS, F                                           1
ESCUELA POPULAR ACCELERATED FAMILY LRN                                                       1
ESCONDIDO CHARTER HIGH                                                                       1
EQUALITY CHARTER SCHOOL                                                                      1
Executive Preparatory Academy of Finance                                                     1
FAIRFAX CO PBLC SCHS                                                                         1
EPWORTH VILLAGE LEARNING CTR                                                                 1
EPIC de Cesar Chavez                                                                         1
FARMINGTON MUNICIPAL SCHOOLS                                                                 1
Guajome Park Academy Charter                                                                 1
Gertz-Ressler/Richard Merkin 6-12 Complex                                                    1
Jackson ISD                                                                                  1
INSTITUTIONAL EDUCATIONAL PROGRAMS                                                           1
IVY ACADEMIA                                                                                 1
Indpls Lighthouse Charter School                                                             1
Insight @ San Joaquin                                                                        1
Inspire Charter School                                                                       1
Inspire Charter School - South                                                               1
Institute for Transformative Education  Inc.                                                 1
International Academy of Macomb                                                              1
Iola                                                                                         1
IvyTech Charter                                                                              1
JUAN BAUTISTA DE ANZA                                                                        1
JUBILEE ACADEMIC CENTER                                                                      1
JULIAN CHARTER                                                                               1
Jackson Preparatory & Early College                                                          1
Gilmer County                                                                                1
Jefferson Union High                                                                         1
John Adams Academy                                                                           1
John Henry High                                                                              1
KIPP KING COLLEGIATE HIGH                                                                    1
KIPP SAN JOSE COLLEGIATE                                                                     1
KIPP San Francisco College Prep                                                              1
KIRKSVILLE R-III                                                                             1
KREMLIN-HILLSDALE                                                                            1
Kestrel Schools  Inc.                                                                        1
Kit Carson Union Elementary                                                                  1
Konocti Unified                                                                              1
L'Anse Creuse Public Schools                                                                 1
LA FERIA ISD                                                                                 1
IMPACT ACADEMY OF ARTS & TECHNOLOGY                                                          1
Huron Valley Schools                                                                         1
Humphreys College Academy Of Business Law And Education                                      1
Hood River County SD                                                                         1
Glenwood Mental Health Services                                                              1
Glynn County                                                                                 1
Gold Rush Charter                                                                            1
Gompers Preparatory Academy                                                                  1
Greater Randolph Interlocal Coop                                                             1
Green County                                                                                 1
Greene County ESC                                                                            1
Greenfield-Central Com Schools                                                               1
Dodge County                                                                                 1
Gull Lake Community Schools                                                                  1
HAMILTON-FULTON-MONTGOMERY BOCES                                                             1
HANOVER CO PBLC SCHS                                                                         1
HARLEM VILLAGE ACADEMY CHARTER SCHOOL EHVACS                                                 1
HARLEM VILLAGE ACADEMY LEADERSHIP CHARTER SCHOOL                                             1
HART ISD                                                                                     1
HEALTH SERVICES ACADEMY HIGH SCHOOL                                                          1
HENRY CO PBLC SCHS                                                                           1
HERKIMER-FULTON-HAMILTON-OTSEGO BOCES                                                        1
HERON LAKE-OKABENA SCHOOL DISTRICT                                                           1
HIGH TECH LA                                                                                 1
HUME LAKE CHARTER                                                                            1
Harbor Springs Charter School                                                                1
Hardin County                                                                                1
Henry County                                                                                 1
Hillsdale Community Schools                                                                  1
Holland City School District                                                                 1
HomeTech Charter                                                                             1
Dysart Unified School District                                                               1
iLEAD Hybrid                                                                                 1
Dillingham City School District                                                              1
American Indian Public High School                                                           1
Aspire Alexander Twilight Secondary Academy                                                  1
Aspire Langston Hughes Academy                                                               1
Aspire Ollin University Preparatory Academy                                                  1
Aspire Richmond Ca. College Preparatory Academy                                              1
Aspire Vanguard College Preparatory Academy                                                  1
Assurance Learning Academy                                                                   1
Atlanta Public Schools                                                                       1
Atlantis Charter (District)                                                                  1
B. Roberto Cruz Leadership Academy                                                           1
BAY AREA TECHNOLOGY                                                                          1
BEDFORD CO PBLC SCHS                                                                         1
BELCOURT 7                                                                                   1
BIG PICTURE HS - FRESNO                                                                      1
BIRMINGHAM COMMUNITY CHARTER HIGH                                                            1
BOONE CENTRAL SCHOOLS                                                                        1
BOTETOURT CO PBLC SCHS                                                                       1
BRIGHT STAR SECONDARY CHARTER ACADEMY                                                        1
BROOKLYN ASCEND CHARTER SCHOOL                                                               1
BURNS FLAT-DILL CITY                                                                         1
Benton Area SD                                                                               1
Berea City                                                                                   1
Bergen Arts and Sciences Charter School                                                      1
Bloomfield Hills Schools                                                                     1
Bonsall Unified                                                                              1
Boyd School                                                                                  1
Brewer-Porch Childrens Center                                                                1
Burlington Area School District                                                              1
Burton Technology Academy High School                                                        1
Butler Area SD                                                                               1
Anahuacalmecac International University Preparatory                                          1
Alternatives in Action                                                                       1
Digital Arts and Technology Academy Charter School                                           1
Alta Vista South Public Charter                                                              1
ACE Charter High                                                                             1
ACLD TILLOTSON SCHOOL                                                                        1
ALAMEDA COMMUNITY LEARNING CENTER                                                            1
ALTA VISTA PUBLIC                                                                            1
ANAHUAC ISD                                                                                  1
APEX Academy                                                                                 1
APPOMATTOX REGIONAL GOV SCH                                                                  1
ARISE High School                                                                            1
ASPIRE BENJAMIN HOLT COLLEGE PREPARATORY ACADEMY                                             1
ASPIRE EAST PALO ALTO PHOENIX ACADEMY                                                        1
ASPIRE GOLDEN STATE COLLEGE PREPARATORY ACADEMY                                              1
ASPIRE LIONEL WILSON COLLEGE PREPARATORY ACADEMY                                             1
ASPIRE PACIFIC ACADEMY                                                                       1
Abraxis Charter                                                                              1
Academy for Academic Excellence                                                              1
Academy of Arts and  Sciences Del Mar Middle & High 6-12                                     1
Academy of Arts and  Sciences El Cajon Middle and High 6-12                                  1
Academy of Arts and  Sciences Oxnard & Ventura                                               1

In [81]:
filter5_missing_leas = filter5_crdc_nces_1516[filter5_crdc_nces_1516.LEVEL == 'Missing'].groupby('LEA_NAME')['LEAID'].count().sort_values(ascending = False)

In [82]:
# filter5_missing_leas.to_csv('../filtered_data/04_inital_filter_missing_LEAs.csv')

In [83]:
"""How many missing schools?"""
filter5_missing_schools = filter5_crdc_nces_1516[filter5_crdc_nces_1516.LEVEL == 'Missing']
len(filter5_missing_schools.index)

1264

In [84]:
# filter5_missing_schools.to_csv('../filtered_data/04_intital_filter_missing_schools.csv')

** Manipulate missing schools and original nces data --> join **

In [85]:
filter5_schname_state = filter5_missing_schools.copy()

In [86]:
filter5_schname_state = filter5_schname_state.reset_index()

In [87]:
filter5_schname_state['SCH_NAME'] = filter5_schname_state['SCH_NAME'].apply(lambda x: x.lower())
filter5_schname_state['SCH_NAME_ST_NUM'] = filter5_schname_state.SCH_NAME + filter5_schname_state.LEA_STATE

In [88]:
"""How many duplicate schools in the filter5 dataset?"""
filter5_schname_state.groupby('SCH_NAME_ST_NUM')['SCH_NAME_ST_NUM'].count().sort_values(ascending = False).head(10)

SCH_NAME_ST_NUM
performance learning centerGA           2
harlem village academies highNY         2
community collaborative charterCA       2
ferris school for boysDE                1
fiorello h laguardia high schoolNY      1
flint river programGA                   1
flushing high schoolNY                  1
flushing international high schoolNY    1
food and finance high schoolNY          1
fordham high school for the artsNY      1
Name: SCH_NAME_ST_NUM, dtype: int64

In [89]:
filter5_schname_state[filter5_schname_state.SCH_NAME_ST_NUM == 'performance learning centerGA']

,COMBOKEY,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,JJ,SCH_GRADE_PS,SCH_GRADE_KG,...,G08,G09,G10,G11,G12,UG,MEMBER,Low_Grade_Above9,High_Grade_12,SCH_NAME_ST_NUM
346,='130129003727',GA,GEORGIA,1301290,Cobb County,3727,performance learning center,No,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Yes,Yes,performance learning centerGA
358,='130270003728',GA,GEORGIA,1302700,Harris County,3728,performance learning center,No,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Yes,Yes,performance learning centerGA

In [90]:
nces_1516_schname_state = nces_1516_full.copy()

In [91]:
nces_1516_schname_state = nces_1516_schname_state.reset_index()

In [92]:
nces_1516_schname_state['SCH_NAME'] = nces_1516_schname_state['SCH_NAME'].apply(lambda x: x.lower())
nces_1516_schname_state['SCH_NAME_ST_NUM'] = nces_1516_schname_state.SCH_NAME + nces_1516_schname_state.STABR

In [93]:
"""Join the NCES and filter5 datasets on the SCH_NAME_ST_NUM column"""
schname_combined = filter5_schname_state.set_index('SCH_NAME_ST_NUM').join(nces_1516_schname_state.set_index('SCH_NAME_ST_NUM'), how = 'left', rsuffix = '_')

In [94]:
"""How many schools have duplicated values?"""
schname_combined.SCH_NAME_.value_counts().sort_values(ascending = False).head(10)

tarrant co j j a e p                                 6
community collaborative charter                      4
hart el                                              2
performance learning center                          2
beacon high school                                   2
university high                                      2
accelerated achievement academy                      2
american sign language & english secondary school    1
in-tech academy (ms/hs 368)                          1
manhattan academy for arts and languages             1
Name: SCH_NAME_, dtype: int64

In [95]:
"""How may more schools were matched?"""
len(schname_combined[schname_combined.SCH_NAME_.notnull()].index)

819

In [96]:
"""How mnay schools still did not have a match?"""
len(schname_combined[schname_combined.SCH_NAME_.isnull()].index)

456

## Recover the NY Schools

In [114]:
schname_combined_missing = schname_combined.copy()
schname_combined_missing = schname_combined_missing[schname_combined_missing.SCH_NAME_.isnull()]

schname_combined_missing_ny = schname_combined_missing.copy()
schname_combined_missing_ny = schname_combined_missing_ny[schname_combined_missing_ny['LEA_NAME'] == 'NEW YORK CITY PUBLIC SCHOOLS']

In [115]:
print(len(schname_combined_missing_ny.index))
print(schname_combined_missing_ny.SCHID.nunique())

36
36

In [116]:
schname_combined_missing_ny = schname_combined_missing_ny.drop(['TITLEI_', 'STABR_', 'SCH_TYPE_TEXT_', 'SCH_TYPE_',
                                                                'LEVEL_', 'VIRTUAL_', 'GSLO_', 'GSHI_', 
                                            'NMCNTY15_', 'LOCALE15_', 'LAT1516_', 'LON1516_', 'combokey',
                                            'LEAID_', 'LEA_NAME_', 'SCH_NAME_', 'SCHID_','PK_', 'KG_', 'G01_', 'G02_', 'G03_', 'G04_', 'G05_', 'G06_',
       'G07_', 'G08_', 'G09_', 'G10_', 'G11_', 'G12_', 'UG_', 'MEMBER_'], axis = 1)

In [117]:
def schid_state_maker(schid, state):
    schid = str(schid).zfill(5)
    return schid + state

In [118]:
schname_combined_missing_ny['schid_state'] = schname_combined_missing_ny.apply(lambda row: schid_state_maker(row['SCHID'], row['LEA_STATE']), axis = 1)

In [119]:
nces_for_missing_ny = nces_1516_full.copy()

nces_for_missing_ny['schid_state'] = nces_for_missing_ny.apply(lambda row: schid_state_maker(row['SCHID'], row['STABR']), axis = 1)

In [120]:
missing_ny_joined = schname_combined_missing_ny.set_index('schid_state').join(nces_for_missing_ny.reset_index().set_index('schid_state'), how = 'left', rsuffix = "_")

In [121]:
""" Join the missing NY schools with NCES """
missing_ny_joined[missing_ny_joined.LEVEL_.notnull()][['SCH_NAME','SCH_NAME_']]

,SCH_NAME,SCH_NAME_
schid_state,,
01348NY,is 187 the christa mcauliffe school,IS 187 CHRISTA MCAULIFFE SCHOOL (THE)
01409NY,"law, government and community service high school",LAW GOVERNMENT AND COMMUNITY SERVICE HIGH SCHOOL
02147NY,ps/ms 31 the william lloyd garrison,PS/MS 31 WILLIAM LLOYD GARRISON (THE)
02199NY,ps 45 horace e greene,PS/IS 45 HORACE E GREENE
02316NY,jhs 80 the mosholu parkway,JHS 80 MOSHOLU PARKWAY (THE)
02731NY,ps 225 the eileen e zaglin,PS 225 EILEEN E ZAGLIN (THE)
02829NY,ps 377 alejandina b de gautier,PS 377 ALEJANDRINA B DE GAUTIER
02961NY,"bronx school for law, government and justice",BRONX SCHOOL FOR LAW GOVERNMENT AND JUSTICE
03091NY,"high school of enterprise, business & technology",HIGH SCHOOL OF ENTERPRISE BUSINESS & TECHNOLOGY
04873NY,"new explorations into science,tech and math hi...",NEW EXPLORATIONS INTO SCIENCETECH AND MATH HIG...
04878NY,"is 318 math, science & tech through arts school",IS 318 MATH SCIENCE & TECH THROUGH ARTS SCHOOL
04888NY,"is 349 math, science and technology",IS 349 MATH SCIENCE AND TECHNOLOGY
05113NY,"high school for law, advocacy and community ju...",HIGH SCHOOL FOR LAW ADVOCACY AND COMMUNITY JUS...
05516NY,"science, tech & research high school at erasmus",SCIENCE TECH & RESEARCH HIGH SCHOOL AT ERASMUS
05521NY,ms 223 laboratory school of finance and techno...,MS 223 LABORATORY SCHOOL OF FINANCE AND TECHNO...
05536NY,"queens high school of teaching, liberal arts a...",QUEENS HIGH SCHOOL OF TEACHING LIBERAL ARTS AN...
05677NY,"marie curie high sch-nursing, medicine & appli...",MARIE CURIE HIGH SCH-NURSING MEDICINE & APPLIE...
05774NY,"high school for arts, imagination and inquiry",HIGH SCHOOL FOR ARTS IMAGINATION AND INQUIRY
05801NY,young scholars academy of the bronx,YOUNG SCHOLARS ACADEMY OF THE BRONX (THE)
05899NY,"high sch-construction, trades, engineering & a...",HIGH SCH-CONSTRUCTION TRADES ENGINEERING & ARC...
05962NY,"brooklyn community high sch-communication, art...",BROOKLYN COMMUNITY HIGH SCH-COMMUNICATION ARTS...
05985NY,"archimedes acad-math, sci, tech",ARCHIMEDES ACAD-MATH SCI TECH
05999NY,"queens high school for information, research a...",QUEENS HIGH SCHOOL FOR INFORMATION RESEARCH AN...
06105NY,high school for language and diplomacy,HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY (THE)
06122NY,the brooklyn academy of global finance,BROOKLYN ACADEMY OF GLOBAL FINANCE (THE)
06148NY,urban assembly school for green careers,URBAN ASSEMBLY SCHOOL FOR GREEN CAREERS (THE)

In [122]:
""" Dealing with remaining missing NY Schools """
missing_ny_2 = missing_ny_joined.copy()
missing_ny_2 = missing_ny_2[missing_ny_2.LEVEL_.isnull()]

len(missing_ny_2.index)

10

In [125]:
missing_ny_2 = missing_ny_2.drop(['TITLEI_', 'STABR_', 'SCH_TYPE_TEXT_', 'SCH_TYPE_',
                   'LEVEL_', 'VIRTUAL_', 'GSLO_', 'GSHI_', 
                   'NMCNTY15_', 'LOCALE15_', 'LAT1516_', 'LON1516_', 'combokey',
                   'LEAID_', 'LEA_NAME_', 'SCH_NAME_', 'SCHID_', 'PK_', 'KG_', 'G01_', 
                   'G02_', 'G03_', 'G04_', 'G05_', 'G06_', 'G07_', 'G08_', 'G09_', 
                   'G10_', 'G11_', 'G12_', 'UG_', 'MEMBER_'], axis = 1)

In [130]:
missing_ny_2['actual_combokey'] = pd.Series(np.resize(0, len(missing_ny_2)), dtype = np.object)

missing_ny_2.at["99780NY", 'actual_combokey'] = "='360012306528'"
missing_ny_2.at["99796NY", 'actual_combokey'] = "='360012306535'"
missing_ny_2.at["99775NY", 'actual_combokey'] = "='360012006484'"
missing_ny_2.at["99776NY", 'actual_combokey'] = "='360010106508'"
missing_ny_2.at["99805NY", 'actual_combokey'] = "='360008306490'"
missing_ny_2.at["99874NY", 'actual_combokey'] = "='360007706372'"
missing_ny_2.at["99933NY", 'actual_combokey'] = "='360008106380'"
missing_ny_2.at["99968NY", 'actual_combokey'] = "='360007606296'"
missing_ny_2.at["99992NY", 'actual_combokey'] = "='360009706274'"
missing_ny_2.at["99995NY", 'actual_combokey'] = "='360009506273'"

In [131]:
""" Join again on the NCES """
missing_ny_2_joined = missing_ny_2.set_index('actual_combokey').join(nces_1516_full, how = 'left', rsuffix = '_')

In [132]:
"""How many matched?"""
len(missing_ny_2_joined[missing_ny_2_joined.LEVEL_.notnull()].index)

10

## Combine recovered schools and performing filters

** Concatenate the two recovered Missing NY Schools sets **

In [174]:
missing_ny_joined_matching = missing_ny_joined[missing_ny_joined.LEVEL_.notnull()]

In [175]:
all_missing_ny_recovered = missing_ny_2_joined.append(missing_ny_joined_matching)

**Join the original recovered schools (using schname_st identifier) with the recovered NY schools**

In [176]:
recovered_schools = schname_combined.copy()
recovered_schools = recovered_schools.fillna("Missing")

In [177]:
recovered_schools = recovered_schools[recovered_schools['SCH_NAME_'] != "Missing"]

In [178]:
recovered_schools_all = recovered_schools.append(all_missing_ny_recovered)

** Reformat the Columns ** -- Need to make sure that the recovered schools dataset's columns match the original filtered dataset's columns (required for concatenating the two sets properly)

In [182]:
"""Drop original nces columns (the ones with missing values)"""    
recovered_schools_all = recovered_schools_all.drop(['TITLEI', 'STABR', 'SCH_TYPE_TEXT', 'SCH_TYPE', 'LEVEL', 'VIRTUAL', 'GSLO', 'GSHI', 
                                            'NMCNTY15', 'LOCALE15', 'LAT1516', 'LON1516', 'combokey',
                                            'LEAID_', 'LEA_NAME_', 'SCH_NAME_', 'SCHID_', 'PK', 'KG', 'G01',
                                            'G02', 'G03', 'G04', 'G05', 'G06', 'G07', 'G08', 'G09', 'G10',
                                            'G11', 'G12', 'UG', 'MEMBER'], axis = 1)
"""Rename new matching columns to replace the columns above (necessary for a proper concatenation later)"""
recovered_schools_all = recovered_schools_all.rename(lambda x: x.strip('_'), axis = 'columns')
recovered_schools_all = recovered_schools_all.set_index('COMBOKEY')
# %store recovered_schools_all

In [183]:
"""Do the columns between the original filtered set and recovered missing values set match"""
print(len(recovered_schools_all.columns.values))
print(len(filter5_crdc_nces_1516.columns.values))

140
140

In [184]:
""" How many schools recovered? """
len(recovered_schools_all.index)

855

** Non-Virtual Schools **

In [185]:
recovered_schools_filter1 = recovered_schools_all.copy()

In [186]:
recovered_schools_filter1 = recovered_schools_filter1[recovered_schools_filter1.VIRTUAL != 'Yes']

In [187]:
"""How many schools remain?"""
len(recovered_schools_filter1.index)

842

** NCES-Reported High Schools **

In [189]:
recovered_schools_filter2 = recovered_schools_filter1.copy()

In [190]:
recovered_schools_filter2 = recovered_schools_filter2[(recovered_schools_filter2.LEVEL == '3')]

In [191]:
"""How many schools remain?"""
len(recovered_schools_filter2.index)

508

** NCES-Reported Regular **

In [192]:
recovered_schools_filter3 = recovered_schools_filter2.copy()

In [193]:
recovered_schools_filter3 = recovered_schools_filter3[recovered_schools_filter3.SCH_TYPE == 1]

In [194]:
"""How many schools remain?"""
len(recovered_schools_filter3.index)

472

**Clean Duplicate Values **

In [195]:
recovered_schools_filter3.groupby('SCH_NAME')['SCH_NAME'].count().sort_values(ascending = False).head(4)

SCH_NAME
beacon high school                          2
university high                             2
performance learning center                 2
world academy for total community health    1
Name: SCH_NAME, dtype: int64

In [196]:
"""Dealing with Beacon"""
with pd.option_context('display.max_columns', 100):
    display(recovered_schools_filter3[recovered_schools_filter3.SCH_NAME.str.startswith('beacon')])

,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,GSHI,GSLO,High_Grade_12,JJ,KG,LAT1516,LEAID,LEA_NAME,LEA_STATE,LEA_STATE_NAME,LEVEL,LOCALE15,LON1516,Low_Grade_Above9,MEMBER,NMCNTY15,PK,SCHID,SCH_APENR_AM_F,SCH_APENR_AM_M,SCH_APENR_AS_F,SCH_APENR_AS_M,SCH_APENR_BL_F,SCH_APENR_BL_M,SCH_APENR_HI_F,SCH_APENR_HI_M,SCH_APENR_HP_F,SCH_APENR_HP_M,SCH_APENR_IDEA_F,SCH_APENR_IDEA_M,SCH_APENR_IND,SCH_APENR_LEP_F,SCH_APENR_LEP_M,SCH_APENR_TR_F,SCH_APENR_TR_M,SCH_APENR_WH_F,SCH_APENR_WH_M,SCH_DUALENR_AM_F,...,SCH_GRADE_G05,SCH_GRADE_G06,SCH_GRADE_G07,SCH_GRADE_G08,SCH_GRADE_G09,SCH_GRADE_G10,SCH_GRADE_G11,SCH_GRADE_G12,SCH_GRADE_KG,SCH_GRADE_PS,SCH_GRADE_UG,SCH_IBENR_AM_F,SCH_IBENR_AM_M,SCH_IBENR_AS_F,SCH_IBENR_AS_M,SCH_IBENR_BL_F,SCH_IBENR_BL_M,SCH_IBENR_HI_F,SCH_IBENR_HI_M,SCH_IBENR_HP_F,SCH_IBENR_HP_M,SCH_IBENR_IDEA_F,SCH_IBENR_IDEA_M,SCH_IBENR_IND,SCH_IBENR_LEP_F,SCH_IBENR_LEP_M,SCH_IBENR_TR_F,SCH_IBENR_TR_M,SCH_IBENR_WH_F,SCH_IBENR_WH_M,SCH_NAME,SCH_STATUS_ALT,SCH_STATUS_CHARTER,SCH_STATUS_MAGNET,SCH_STATUS_SPED,SCH_TYPE,SCH_TYPE_TEXT,SCH_UGDETAIL_HS,STABR,TITLEI,TOT_APENR_F,TOT_APENR_M,TOT_DUALENR_F,TOT_DUALENR_M,TOT_ENR_F,TOT_ENR_M,TOT_IBENR_F,TOT_IBENR_M,UG,VIRTUAL
COMBOKEY,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
='362058000592',0,0,0,0,0,0,0,0,328,321,291,366,12,9,Yes,No,0,40.7612,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,11,-73.9952,UG-Yes,1307,New York County,0,592,0,0,17,5,11,5,32,14,0,0,2,2,Yes,0,0,0,2,65,32,-9,...,No,No,No,No,Yes,Yes,Yes,Yes,No,No,Yes,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,beacon high school,No,No,No,No,1,Regular School,Yes,NY,No,125,58,-9,-9,839,466,-9,-9,1,No
='362058000592',0,0,0,0,0,0,0,0,233,208,198,243,12,9,Yes,No,0,41.5145,3620580,NEW YORK CITY PUBLIC SCHOOLS,NY,NEW YORK,3,21,-73.9635,UG-Yes,893,Dutchess County,0,592,0,0,17,5,11,5,32,14,0,0,2,2,Yes,0,0,0,2,65,32,-9,...,No,No,No,No,Yes,Yes,Yes,Yes,No,No,Yes,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,beacon high school,No,No,No,No,1,Regular School,Yes,NY,No,125,58,-9,-9,839,466,-9,-9,11,No

In [197]:
filter5_crdc_nces_1516[filter5_crdc_nces_1516.SCH_NAME.str.startswith('BEACON')]

,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,JJ,SCH_GRADE_PS,SCH_GRADE_KG,SCH_GRADE_G01,...,G07,G08,G09,G10,G11,G12,UG,MEMBER,Low_Grade_Above9,High_Grade_12
COMBOKEY,,,,,,,,,,,,,,,,,,,,,
='360414000177',NY,NEW YORK,3604140,BEACON CITY SCHOOL DISTRICT,177,BEACON HIGH SCHOOL,No,No,No,No,...,0,0,233,208,198,243,11,893,UG-Yes,Yes
='362058000592',NY,NEW YORK,3620580,NEW YORK CITY PUBLIC SCHOOLS,592,BEACON HIGH SCHOOL,No,No,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,UG-Yes,Yes
='440000800297',RI,RHODE ISLAND,4400008,Beacon Charter School,297,BEACON Charter School,No,No,No,No,...,0,0,57,60,57,58,0,232,Yes,Yes

In [198]:
"""Beacon High School in Dutchess County is already in the filter5 dataset -- Remove"""
recovered_schools_filter4 = recovered_schools_filter3.copy()
recovered_schools_filter4 = recovered_schools_filter4[(recovered_schools_filter4.SCH_NAME != 'beacon high school') | (recovered_schools_filter4.NMCNTY15 != 'Dutchess County')]

In [199]:
"""Dealing with Performance Learning Center"""
with pd.option_context('display.max_columns', 100):
    display(recovered_schools_filter3[recovered_schools_filter3.SCH_NAME.str.startswith('performance')])

,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,GSHI,GSLO,High_Grade_12,JJ,KG,LAT1516,LEAID,LEA_NAME,LEA_STATE,LEA_STATE_NAME,LEVEL,LOCALE15,LON1516,Low_Grade_Above9,MEMBER,NMCNTY15,PK,SCHID,SCH_APENR_AM_F,SCH_APENR_AM_M,SCH_APENR_AS_F,SCH_APENR_AS_M,SCH_APENR_BL_F,SCH_APENR_BL_M,SCH_APENR_HI_F,SCH_APENR_HI_M,SCH_APENR_HP_F,SCH_APENR_HP_M,SCH_APENR_IDEA_F,SCH_APENR_IDEA_M,SCH_APENR_IND,SCH_APENR_LEP_F,SCH_APENR_LEP_M,SCH_APENR_TR_F,SCH_APENR_TR_M,SCH_APENR_WH_F,SCH_APENR_WH_M,SCH_DUALENR_AM_F,...,SCH_GRADE_G05,SCH_GRADE_G06,SCH_GRADE_G07,SCH_GRADE_G08,SCH_GRADE_G09,SCH_GRADE_G10,SCH_GRADE_G11,SCH_GRADE_G12,SCH_GRADE_KG,SCH_GRADE_PS,SCH_GRADE_UG,SCH_IBENR_AM_F,SCH_IBENR_AM_M,SCH_IBENR_AS_F,SCH_IBENR_AS_M,SCH_IBENR_BL_F,SCH_IBENR_BL_M,SCH_IBENR_HI_F,SCH_IBENR_HI_M,SCH_IBENR_HP_F,SCH_IBENR_HP_M,SCH_IBENR_IDEA_F,SCH_IBENR_IDEA_M,SCH_IBENR_IND,SCH_IBENR_LEP_F,SCH_IBENR_LEP_M,SCH_IBENR_TR_F,SCH_IBENR_TR_M,SCH_IBENR_WH_F,SCH_IBENR_WH_M,SCH_NAME,SCH_STATUS_ALT,SCH_STATUS_CHARTER,SCH_STATUS_MAGNET,SCH_STATUS_SPED,SCH_TYPE,SCH_TYPE_TEXT,SCH_UGDETAIL_HS,STABR,TITLEI,TOT_APENR_F,TOT_APENR_M,TOT_DUALENR_F,TOT_DUALENR_M,TOT_ENR_F,TOT_ENR_M,TOT_IBENR_F,TOT_IBENR_M,UG,VIRTUAL
COMBOKEY,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
='130129003727',0,0,0,0,0,0,0,0,63,49,46,49,12,9,Yes,No,0,33.4739,1301290,Cobb County,GA,GEORGIA,3,12,-81.9974,Yes,207,Richmond County,0,3727,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,0,...,No,No,No,No,No,Yes,Yes,Yes,No,No,No,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,performance learning center,No,No,No,No,1,Regular School,-9,GA,Yes,-9,-9,0,0,49,65,-9,-9,0,No
='130270003728',0,0,0,0,0,0,0,0,63,49,46,49,12,9,Yes,No,0,33.4739,1302700,Harris County,GA,GEORGIA,3,12,-81.9974,Yes,207,Richmond County,0,3728,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,0,...,No,No,No,No,Yes,Yes,Yes,Yes,No,No,No,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,performance learning center,No,No,No,No,1,Regular School,-9,GA,Yes,-9,-9,17,10,44,47,-9,-9,0,No

In [200]:
filter5_crdc_nces_1516[filter5_crdc_nces_1516.SCH_NAME.str.startswith('Performance')]

,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,JJ,SCH_GRADE_PS,SCH_GRADE_KG,SCH_GRADE_G01,...,G07,G08,G09,G10,G11,G12,UG,MEMBER,Low_Grade_Above9,High_Grade_12
COMBOKEY,,,,,,,,,,,,,,,,,,,,,
='130129003727',GA,GEORGIA,1301290,Cobb County,3727,Performance Learning Center,No,No,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Yes,Yes
='130270003728',GA,GEORGIA,1302700,Harris County,3728,Performance Learning Center,No,No,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Yes,Yes
='130438004221',GA,GEORGIA,1304380,Richmond County,4221,Performance Learning Center,No,No,No,No,...,0,0,63,49,46,49,0,207,Yes,Yes
='370297002842',NC,NORTH CAROLINA,3702970,Charlotte-Mecklenburg Schools,2842,Performance Learning Center,No,No,No,No,...,0,0,102,44,37,50,0,233,Yes,Yes

In [201]:
"""Both of the performance learning centers here actually matched to a different 'performance learning center' record;
therefore, they should both be removed"""
recovered_schools_filter4 = recovered_schools_filter4[recovered_schools_filter4.SCH_NAME != 'performance learning center']

In [202]:
"""Dealing with university high"""
with pd.option_context('display.max_columns', 100):
    display(recovered_schools_filter3[recovered_schools_filter3.SCH_NAME.str.startswith('university high')])

,G01,G02,G03,G04,G05,G06,G07,G08,G09,G10,G11,G12,GSHI,GSLO,High_Grade_12,JJ,KG,LAT1516,LEAID,LEA_NAME,LEA_STATE,LEA_STATE_NAME,LEVEL,LOCALE15,LON1516,Low_Grade_Above9,MEMBER,NMCNTY15,PK,SCHID,SCH_APENR_AM_F,SCH_APENR_AM_M,SCH_APENR_AS_F,SCH_APENR_AS_M,SCH_APENR_BL_F,SCH_APENR_BL_M,SCH_APENR_HI_F,SCH_APENR_HI_M,SCH_APENR_HP_F,SCH_APENR_HP_M,SCH_APENR_IDEA_F,SCH_APENR_IDEA_M,SCH_APENR_IND,SCH_APENR_LEP_F,SCH_APENR_LEP_M,SCH_APENR_TR_F,SCH_APENR_TR_M,SCH_APENR_WH_F,SCH_APENR_WH_M,SCH_DUALENR_AM_F,...,SCH_GRADE_G05,SCH_GRADE_G06,SCH_GRADE_G07,SCH_GRADE_G08,SCH_GRADE_G09,SCH_GRADE_G10,SCH_GRADE_G11,SCH_GRADE_G12,SCH_GRADE_KG,SCH_GRADE_PS,SCH_GRADE_UG,SCH_IBENR_AM_F,SCH_IBENR_AM_M,SCH_IBENR_AS_F,SCH_IBENR_AS_M,SCH_IBENR_BL_F,SCH_IBENR_BL_M,SCH_IBENR_HI_F,SCH_IBENR_HI_M,SCH_IBENR_HP_F,SCH_IBENR_HP_M,SCH_IBENR_IDEA_F,SCH_IBENR_IDEA_M,SCH_IBENR_IND,SCH_IBENR_LEP_F,SCH_IBENR_LEP_M,SCH_IBENR_TR_F,SCH_IBENR_TR_M,SCH_IBENR_WH_F,SCH_IBENR_WH_M,SCH_NAME,SCH_STATUS_ALT,SCH_STATUS_CHARTER,SCH_STATUS_MAGNET,SCH_STATUS_SPED,SCH_TYPE,SCH_TYPE_TEXT,SCH_UGDETAIL_HS,STABR,TITLEI,TOT_APENR_F,TOT_APENR_M,TOT_DUALENR_F,TOT_DUALENR_M,TOT_ENR_F,TOT_ENR_M,TOT_IBENR_F,TOT_IBENR_M,UG,VIRTUAL
COMBOKEY,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
='069902400001',0,0,0,0,0,0,0,0,130,122,110,120,12,9,Yes,No,0,36.8097,699024,University High School,CA,CALIFORNIA,3,11,-119.748,Yes,482,Fresno County,0,1,2,2,47,29,8,5,26,23,0,0,0,2,Yes,0,0,0,0,50,44,2,...,No,No,No,No,Yes,Yes,Yes,Yes,No,No,No,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,university high,No,Yes,No,No,1,Regular School,-9,CA,Missing,133,103,196,163,271,217,-9,-9,0,No
='069902400001',0,0,0,0,0,0,0,0,674,704,612,627,12,9,Yes,No,0,33.6513,699024,University High School,CA,CALIFORNIA,3,12,-117.823,Yes,2617,Orange County,0,1,2,2,47,29,8,5,26,23,0,0,0,2,Yes,0,0,0,0,50,44,2,...,No,No,No,No,Yes,Yes,Yes,Yes,No,No,No,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,-9,No,-9,-9,-9,-9,-9,-9,university high,No,Yes,No,No,1,Regular School,-9,CA,Yes,133,103,196,163,271,217,-9,-9,0,No

In [203]:
filter5_crdc_nces_1516[filter5_crdc_nces_1516.SCH_NAME.str.startswith('University High')].head()

,LEA_STATE,LEA_STATE_NAME,LEAID,LEA_NAME,SCHID,SCH_NAME,JJ,SCH_GRADE_PS,SCH_GRADE_KG,SCH_GRADE_G01,...,G07,G08,G09,G10,G11,G12,UG,MEMBER,Low_Grade_Above9,High_Grade_12
COMBOKEY,,,,,,,,,,,,,,,,,,,,,
='040852003206',AZ,ARIZONA,408520,Tolleson Union High School District,3206,University High School,No,No,No,No,...,0,0,163,131,107,76,0,477,Yes,Yes
='040880001441',AZ,ARIZONA,408800,Tucson Unified District,1441,University High School,No,No,No,No,...,0,0,302,287,256,211,0,1056,Yes,Yes
='068450007067',CA,CALIFORNIA,684500,Irvine Unified,7067,University High,No,No,No,No,...,0,0,674,704,612,627,0,2617,Yes,Yes
='069902400001',CA,CALIFORNIA,699024,University High School,1,University High,No,No,No,No,...,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Missing,Yes,Yes
='090192001381',CT,CONNECTICUT,901920,HARTFORD SCHOOL DISTRICT,1381,University High of Science and Engineering,No,No,No,No,...,0,0,137,111,95,88,0,431,Yes,Yes

In [204]:
"""The University High in Irvine was already accounted for; therefore, needs to be removed from the recovered"""
recovered_schools_filter4 = recovered_schools_filter4[(recovered_schools_filter4.SCH_NAME != 'university high') | (recovered_schools_filter4.NMCNTY15 != 'Orange County')]

In [205]:
'How many final recovered values?'
len(recovered_schools_filter4.index)

468

# <font color = green> VI. Concatenating Recovered Missing Values with the original Filtered Dataset </font>
<div class = 'alert alert-cell alert-info'> Finally, I concatenated the recovered high schools with the original filtered set.<br><br>

I ensured that no duplicate values were added in the process.

Then saved the file to "../filtered_data/04_filter_final.csv" </div>
<div class = 'alert alert-cell alert-warning'>
Final Total:  **15725 High Schools**

In [206]:
"""Remove the missing values"""
filter6_crdc_nces_1516 = filter5_crdc_nces_1516.copy()
filter6_crdc_nces_1516 = filter6_crdc_nces_1516[filter6_crdc_nces_1516.LEVEL != "Missing"]

In [207]:
"""How many initial Duplicates?
Interesting enough, these duplicates appear to legitimate; the problem seems to be that the schools actually have 
different names (e.g. "The ADAIR Co. High"'s are actually supposed to be labeled ADAIR Co. R-I High and ADAIR Co. R-II BRASHEAR)"""
filter6_crdc_nces_1516.groupby(['STABR','SCH_NAME','NMCNTY15'])['SCH_NAME'].count().sort_values(ascending=False).head()

STABR  SCH_NAME                    NMCNTY15
MO     ADAIR CO. HIGH              Adair County      2
TX     STERLING H S                Harris County     2
       TAYLOR H S                  Harris County     2
       LEE H S                     Harris County     2
WY     Wyoming Indian High School  Fremont County    1
Name: SCH_NAME, dtype: int64

In [208]:
recovered_schools_filter4.groupby(['STABR','SCH_NAME','NMCNTY15'])['SCH_NAME'].count().sort_values(ascending=False).head()

STABR  SCH_NAME                        NMCNTY15
TX     ischool high of hickory creek   Denton County    1
NY     bronx compass high school       Bronx County     1
       benjamin banneker academy       Kings County     1
       benjamin n cardozo high school  Queens County    1
       boys and girls high school      Kings County     1
Name: SCH_NAME, dtype: int64

In [209]:
# filtered_and_recovered = pd.concat([filter6_crdc_nces_1516, recovered_schools_filter4])
filtered_and_recovered = filter6_crdc_nces_1516.append(recovered_schools_filter4)

In [210]:
"""Do the numbers of columns match?"""
print(len(filter6_crdc_nces_1516.columns.values))
len(filtered_and_recovered.columns.values)

140

140

In [211]:
"""Because Columns are stored as dictionaries, there is no inherent order to the columns -- Pandas automatically 
uses an alphabetical sort on an append/concatenation.  I reorded the columns to show the SCH Name first"""
schName = ['SCH_NAME']
reorder = schName + [c for c in filtered_and_recovered.columns if c not in schName]
filtered_and_recovered = filtered_and_recovered[reorder]

In [212]:
"""No added duplicate records"""
filtered_and_recovered.groupby(['STABR','SCH_NAME','NMCNTY15'])['SCH_NAME'].count().sort_values(ascending=False).head()

STABR  SCH_NAME                    NMCNTY15
TX     STERLING H S                Harris County     2
MO     ADAIR CO. HIGH              Adair County      2
TX     TAYLOR H S                  Harris County     2
       LEE H S                     Harris County     2
WY     Wyoming Indian High School  Fremont County    1
Name: SCH_NAME, dtype: int64

In [213]:
"How many total high schools in the set?"
len(filtered_and_recovered.index)

15725

In [214]:
# filtered_and_recovered.to_csv('../filtered_data/04_filter_final.csv')

## Check to see how close the Enrollment Numbers between NCES and CRDC are

In [223]:
final_crdc_tot_enroll = filtered_and_recovered.TOT_ENR_M + filtered_and_recovered.TOT_ENR_F
final_nces_tot_enroll = filtered_and_recovered[['MEMBER', 'SCH_NAME', 'LEA_STATE']]

final_enroll_compare = pd.concat([final_crdc_tot_enroll, final_nces_tot_enroll], axis = 1)
final_enroll_compare = final_enroll_compare.rename({0:'crdc', 'MEMBER':'nces'}, axis = 1)
final_enroll_compare['diff'] = final_enroll_compare['crdc'] - final_enroll_compare['nces']
final_enroll_compare['pct_diff'] = abs((final_enroll_compare['diff'] / final_enroll_compare['crdc'])) * 100

display(final_enroll_compare.sort_values('diff').head())

display(final_enroll_compare.sort_values('diff', ascending=False).head())

print(format(int(final_enroll_compare.nces.sum()),',d'), 'nces total')
print(format(final_enroll_compare.crdc.sum(), ',d'), 'crdc total')

,crdc,nces,SCH_NAME,LEA_STATE,diff,pct_diff
COMBOKEY,,,,,,
='482730003072',2051,4377,LEWISVILLE H S,TX,-2326,113.408
='060001412375',24,1228,Encore Jr./Sr. High Sch for the Perf and Visua...,CA,-1204,5016.67
='180567001031',1270,2400,Lawrence North High School,IN,-1130,88.9764
='368064099992',31,1132,north tonawanda high school,NY,-1101,3551.61
='180567001029',1298,2388,Lawrence Central High School,IN,-1090,83.9753

                 crdc  nces       SCH_NAME LEA_STATE  diff pct_diff
COMBOKEY
='401956000932'  2468   498      MCLOUD HS        OK  1970  79.8217
='490036000218'  4819  3080   GRANGER HIGH        UT  1739  36.0863
='490036000898'  3712  2626    HUNTER HIGH        UT  1086  29.2565
='483558004036'  1428   436  POTTSBORO H S        TX   992  69.4678
='490036000234'  3301  2325    KEARNS HIGH        UT   976  29.5668

13,603,767 nces total
13,627,606 crdc total

In [224]:
display(final_enroll_compare.sort_values('pct_diff', ascending=False))

,crdc,nces,SCH_NAME,LEA_STATE,diff,pct_diff
COMBOKEY,,,,,,
='050228000007',4,218,ALPENA HIGH SCHOOL,AR,-214,5350
='060001412375',24,1228,Encore Jr./Sr. High Sch for the Perf and Visua...,CA,-1204,5016.67
='368064099992',31,1132,north tonawanda high school,NY,-1101,3551.61
='381647000570',2,43,SAWYER HIGH SCHOOL,ND,-41,2050
='060001411899',24,244,Mirus Secondary,CA,-220,916.667
='380001600615',9,69,STRASBURG HIGH SCHOOL,ND,-60,666.667
='060001411118',24,178,Summit Leadership Academy-High Desert,CA,-154,641.667
='040027802168',4,19,Deer Valley Academy,AZ,-15,375
='292166001191',19,87,NORTHEAST NODAWAY HIGH,MO,-68,357.895
='483534003994',37,150,POOLVILLE H S,TX,-113,305.405
='390058505077',16,48,Center for Student Achievement,OH,-32,200
='510027002875',97,285,ARLINGTON COMMUNITY HIGH,VA,-188,193.814
='180016002588',58,168,Marion Academy,IN,-110,189.655
='400591000221',18,41,BURLINGTON HS,OK,-23,127.778
='482730003072',2051,4377,LEWISVILLE H S,TX,-2326,113.408
='350159000421',55,115,LOGAN HIGH,NM,-60,109.091
='483402003782',212,439,PALACIOS H S,TX,-227,107.075
='560142000046',148,299,Rocky Mountain High School,WY,-151,102.027
='270579004894',135,0,Bloomington Career and College Acad,MN,135,100
='470378010397',174,0,Whites Adult High School,TN,174,100
='341269003370',166,0,GARRETT MORGAN ACADEMY,NJ,166,100
='270008403592',244,0,NORTHEAST SERVICE COOPERATIVE OLL,MN,244,100
='470396002093',7,0,Stewart County Adult High School,TN,7,100
='460696001182',42,0,Contract - 02,SD,42,100
='341134003283',708,0,Barringer Academy of S.T.E.A.M.,NJ,708,100
='470369000370',10,0,Rutherford County Adult High School,TN,10,100
='530234003355',122,0,Easton Secondary School,WA,122,100
='450390701579',272,0,Governor's School for Science and Mathematics,SC,272,100
='411052001763',104,0,ACE Academy,OR,104,100
='040308000242',103,0,Fredonia High School,AZ,103,100
...,...,...,...,...,...,...
='330467000270',337,337,Mascenic Regional High School,NH,0,0
='250639000926',1068,1068,Hudson High,MA,0,0
='330435000674',498,498,Campbell High School,NH,0,0
='462550000220',79,79,Freeman High School - 01,SD,0,0
='462637000224',135,135,Garretson High School - 01,SD,0,0
='060015901474',182,182,Etna Union High,CA,0,0
='460004101364',16,16,Sunset Colony High School - 06,SD,0,0
='120015000078',1391,1391,TITUSVILLE HIGH SCHOOL,FL,0,0
='040174002214',108,108,Casa Verde High School,AZ,0,0
='340210005144',565,565,BOUND BROOK HIGH SCHOOL,NJ,0,0
='450279000752',644,644,Swansea High,SC,0,0
='250053202712',53,53,New Liberty Charter School,MA,0,0
='060297000223',3424,3424,Arcadia High,CA,0,0
='450300000804',195,195,McCormick High,SC,0,0
='250165000001',451,451,Abington High,MA,0,0
='530549000827',373,373,Napavine Jr Sr High School,WA,0,0
='250195000045',1797,1797,Andover High,MA,0,0
='450315001192',811,811,Lake Marion High School and Technology Center,SC,0,0
='110007900424',280,280,National Collegiate Prep PCS,DC,0,0
='250231000116',1933,1933,Barnstable High,MA,0,0
='340438001488',2038,2038,Eastern Regional High School,NJ,0,0
='120003000013',1890,1890,GAINESVILLE HIGH SCHOOL,FL,0,0
='450336000954',691,691,W.J. Keenan High,SC,0,0
='450351001001',653,653,Chesnee High,SC,0,0
='250279000261',532,532,Jeremiah E Burke High,MA,0,0
='120003000029',2252,2252,F. W. BUCHHOLZ HIGH SCHOOL,FL,0,0
='250327000436',1864,1864,Cambridge Rindge and Latin,MA,0,0
='340280000300',468,468,HENRY P. BECTON REGIONAL HIGH SCHOOL,NJ,0,0
='120009000039',1296,1296,BAY HIGH SCHOOL,FL,0,0
='390463802535',485,485,Blanchester High School,OH,0,0

In [242]:
"""How many Adult schools in filter 6"""
len(filtered_and_recovered[filtered_and_recovered.SCH_NAME.str.contains('Adult')])

12

In [244]:
with pd.option_context('display.max_columns', 150):
    display(filtered_and_recovered[['MEMBER', 'TOT_ENR_M', 'TOT_ENR_F', 'SCH_NAME', 'LEAID', 'SCHID', 'LEA_STATE']].sort_values('MEMBER'))

,MEMBER,TOT_ENR_M,TOT_ENR_F,SCH_NAME,LEAID,SCHID,LEA_STATE
COMBOKEY,,,,,,,
='040382000298',0,337,319,Holbrook High School,403820,298,AZ
='270579004894',0,74,61,Bloomington Career and College Acad,2705790,4894,MN
='270008403592',0,101,143,NORTHEAST SERVICE COOPERATIVE OLL,2700084,3592,MN
='341134003283',0,431,277,Barringer Academy of S.T.E.A.M.,3411340,3283,NJ
='341269003370',0,136,30,GARRETT MORGAN ACADEMY,3412690,3370,NJ
='040308000242',0,47,56,Fredonia High School,403080,242,AZ
='411052001763',0,88,16,ACE Academy,4110520,1763,OR
='040946000975',0,337,367,Winslow High School,409460,975,AZ
='450390701579',0,133,139,Governor's School for Science and Mathematics,4503907,1579,SC
='460696001182',0,25,17,Contract - 02,4606960,1182,SD
='470210002105',0,51,70,Jefferson County Adult High School,4702100,2105,TN
='470333000412',0,5,2,R.E.A.C.H. Academy,4703330,412,TN
='470348000367',0,41,44,Putnam Co Adult High School,4703480,367,TN
='173078006100',0,281,300,Paris Cooperative High School 4,1730780,6100,IL
='470378010397',0,106,68,Whites Adult High School,4703780,10397,TN
='470396002093',0,5,2,Stewart County Adult High School,4703960,2093,TN
='530234003355',0,58,64,Easton Secondary School,5302340,3355,WA
='470369000370',0,4,6,Rutherford County Adult High School,4703690,370,TN
='120126005612',1,0,2,MARION TECHNICAL INSTITUTE,1201260,5612,FL
='550192002751',1,2,2,Promethean Charter School,5501920,2751,WI
='062394009577',1,0,2,Yosemite Park High,623940,9577,CA
='190897001548',2,2,0,Des Moines Central Campus High School,1908970,1548,IA
='460102701339',3,2,2,Spring Lake Colony High School - 05,4601027,1339,SD
='551536002513',3,2,2,Vernon County Area Better Futures High,5515360,2513,WI
='063828010105',4,4,0,South Fork High,638280,10105,CA
='551056002517',4,5,2,Juneau County Charter School,5510560,2517,WI
='530141003402',4,4,0,Oakridge Group Home,5301410,3402,WA
='470123000598',4,2,2,Fentress Co Adult High School,4701230,598,TN
='063828010706',4,6,4,Mountain High,638280,10706,CA
='063828010338',4,4,2,Cold Springs High,638280,10338,CA
...,...,...,...,...,...,...,...
='170993000942',4049,1784,2273,Lane Technical High School,1709930,942,IL
='450144000261',4068,2100,1949,Wando High,4501440,261,SC
='060985011709',4079,2048,2030,Eleanor Roosevelt High,609850,11709,CA
='481653001415',4094,2048,2049,DEER PARK HS,4816530,1415,TX
='120144001454',4124,2075,2051,WEST ORANGE HIGH,1201440,1454,FL
='480783000103',4142,2175,1961,ELSIK H S,4807830,103,TX
='060797005777',4142,2183,1970,Central High East Campus,607970,5777,CA
='481764001524',4152,2120,2039,DUNCANVILLE H S,4817640,1524,TX
='483432003821',4184,2012,1874,DOBIE H S,4834320,3821,TX
='510126000516',4190,2147,2009,LAKE BRADDOCK SECONDARY,5101260,516,VA
='174080004097',4197,2175,2028,Warren Township High School,1740800,4097,IL
='120039004077',4213,2013,2201,JOHN A. FERGUSON SENIOR HIGH,1200390,4077,FL
='484365004962',4242,2241,2004,UNITED H S,4843650,4962,TX
='250309000385',4250,2165,2090,Brockton High,2503090,385,MA
='481500001007',4268,2168,2111,THE WOODLANDS H S,4815000,1007,TX
='061146001264',4274,2177,2096,Downey High,611460,1264,CA
='362058001953',4290,2129,2162,francis lewis high school,3620580,1953,NY
='062250002751',4370,2195,2174,Polytechnic High,622500,2751,CA
='482730003072',4377,1031,1020,LEWISVILLE H S,4827300,3072,TX
='362058001952',4398,2360,2045,fort hamilton high school,3620580,1952,NY
='06CC06400001',4480,2246,2171,granada hills charter high,06CC064,1,CA
='050306000073',4512,2297,2213,BENTONVILLE HIGH SCHOOL,503060,73,AR
='360528004433',4558,2378,2109,BRENTWOOD HIGH SCHOOL,3605280,4433,NY
='174125004141',4562,2360,2198,Waukegan High School,1741250,4141,IL
='120018003815',4601,2388,2213,CYPRESS BAY HIGH SCHOOL,1200180,3815,FL
='482025001989',4641,2378,2264,NORTH SHORE SENIOR HIGH,4820250,1989,TX
='481623001357',4729,2339,2393,SKYLINE H S,4816230,1357,TX
='480789000117',4746,2405,2336,ALLEN H S,4807890,117,TX
='062985004653',4794,2466,2363,Paramount High,629850,4653,CA
='180120000193',4930,2519,2381,Carmel High School,1801200,193,IN

# Final Missing Schools
<div class = 'alert alert-cell alert-info'>**348 Schools**<br> Saved to '04_final_missing.csv'

In [215]:
final_missing = schname_combined[(schname_combined.SCH_NAME_.isnull()) & (schname_combined.LEA_NAME != 'NEW YORK CITY PUBLIC SCHOOLS')]

In [216]:
""" How many final missing schools? """
len(final_missing.index)

420

In [217]:
final_missing.to_csv('../filtered_data/04_final_missing.csv')

In [218]:
""" Top remaining unaccounted districts """
final_missing.groupby('LEA_NAME')['LEAID'].count().sort_values(ascending = False).head(10)

LEA_NAME
OFFICE OF EDUCATION DEPARTMENT OF CHILDREN AND FAMILIES    10
NORMAN                                                      9
Peters Township SD                                          6
Dept. of Svs. for Children Youth & Their Families           5
BOYS TOWN INTERIM PRG SCHS                                  4
Boston                                                      4
LINCOLN PUBLIC SCHOOLS                                      4
Geauga County Educational Service Center                    3
Learning Tree Inc                                           3
TULSA                                                       3
Name: LEAID, dtype: int64